/*
 * Woo CSS for Ascend Theme
 */
#customer_login input.input-text {
  width: 100%;
  padding: 8px;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
#customer_login .lost_password {
  margin-left: 10px;
}
.woo_address_edit,
.woo_change_password,
.track_order {
  max-width: 570px;
}
.woo_address_edit input.input-text,
.woo_change_password input.input-text,
.track_order input.input-text {
  width: 100%;
  padding: 8px;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.myaccount_address {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
  border-color: rgba(0, 0, 0, 0.05);
}
.kad-account-sidebar {
  text-align: center;
}
.kad-customer-image img {
  float: none !important;
  display: inline-block;
}
.account_page_menu {
  padding: 10px;
  border-top: 1px solid #eee;
}
.account_page_menu ul {
  margin: 0;
}
.account_page_menu ul li a {
  padding: 5px 0;
  border-bottom: 1px solid #eee;
  display: block;
  margin: 3px 0;
}
/**
 * My Account
 */
@media (min-width: 767px) {
  .kt-woo-account-nav {
    float: left;
    width: 30%;
    padding-right: 15px;
    padding-left: 15px;
  }
  .woocommerce-MyAccount-content {
    float: left;
    width: 70%;
    padding-left: 25px;
  }
  .order_details li {
    float: left;
    width: 33.33%;
    border-right: 1px dashed rgba(0, 0, 0, 0.2);
    padding-top: 10px;
  }
  .order_details li:nth-child(3) {
    border: 0;
  }
  .order_details li:nth-child(4) {
    border: 0;
    width: 100%;
    text-align: center;
    border-top: 1px dashed rgba(0, 0, 0, 0.2);
  }
}
@media (min-width: 992px) {
  .kt-woo-account-nav {
    width: 22%;
  }
  .woocommerce-MyAccount-content {
    width: 78%;
  }
}
.kt-woo-account-nav {
  text-align: center;
}
.woocommerce-MyAccount-content {
  padding-top: 20px;
}
.woocommerce-MyAccount-content mark {
  background: transparent;
  font-weight: bold;
}
table.shop_table.customer_details,
.woocommerce .shop_table.order_details {
  margin-bottom: 40px;
}
.addresses address {
  font-style: italic;
}
.kt-woo-account-nav .woocommerce-MyAccount-navigation ul li.is-active a {
  border-color: #16A085;
}
.woocommerce-MyAccount-navigation ul {
  margin-left: 0;
  border-top: 2px solid #eee;
  text-align: left;
  padding-left: 0;
}
.woocommerce-MyAccount-navigation ul li {
  list-style: none;
  position: relative;
  padding: 5px 0;
}
.woocommerce-MyAccount-navigation ul li.is-active a:before {
  opacity: 1;
}
.woocommerce-MyAccount-navigation ul li a {
  padding: 5px 0;
  display: block;
  font-weight: 600;
}
.woocommerce-MyAccount-navigation ul li a:before {
  font-family: 'kt-font-awesome';
  content: "\f016";
  line-height: 1.618;
  margin-left: 0.53em;
  width: 1.387em;
  text-align: right;
  float: right;
  opacity: 0.5;
  -webkit-transition: opacity 0.2 ease-in-out;
  -o-transition: opacity 0.2 ease-in-out;
  transition: opacity 0.2 ease-in-out;
}
.woocommerce-MyAccount-navigation ul li a:hover:before {
  opacity: 1;
}
.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--dashboard a:before {
  content: "\f0e4";
}
.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--orders a:before {
  content: "\f290";
}
.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--downloads a:before {
  content: "\f019";
}
.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--edit-address a:before {
  content: "\f015";
}
.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--payment-methods a:before {
  content: "\f09d";
}
.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--edit-account a:before {
  content: "\f2be";
}
.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--customer-logout a:before {
  content: "\f18e";
}
ul.order_details {
  list-style: none;
  position: relative;
  padding: 0;
  margin: 20px 0;
  background: rgba(0, 0, 0, 0.05);
}
ul.order_details:before,
ul.order_details:after {
  content: " ";
  display: table;
}
ul.order_details:after {
  clear: both;
}
ul.order_details li {
  padding: 1em 1.618em;
  font-size: 0.8em;
  text-transform: uppercase;
}
ul.order_details li strong {
  display: block;
  font-size: 1.387em;
  text-transform: none;
}
.my_account_orders .button,
.woocommerce-MyAccount-downloads .button {
  padding: 0.618em 0.857em;
  font-size: 0.857em;
  margin-right: 0.236em;
}
.my_account_orders .button.view:after {
  font-family: 'kt-font-awesome';
  content: "\f06e";
  margin-left: 0.53em;
}
p.order-again .button:after {
  font-family: 'kt-font-awesome';
  content: "\f079";
  margin-left: 0.53em;
}
.woocommerce-MyAccount-downloads .button:after {
  font-family: 'kt-font-awesome';
  content: "\f019";
  margin-left: 0.53em;
}
.woocommerce-MyAccount-content h2 {
  font-size: 2em;
  font-weight: 600;
}
.woocommerce-MyAccount-content #payment .payment_methods {
  margin-bottom: 1.618em !important;
}
.woocommerce-MyAccount-content #payment .payment_methods li .payment_box {
  background-color: rgba(0, 0, 0, 0.05);
}
.kt-woo-account-nav .kad-customer-image {
  position: relative;
}
.kt-woo-account-nav .kad-customer-image a.kt-link-to-gravatar {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  -webkit-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
  color: #555;
  border: 0;
}
.kt-woo-account-nav .kad-customer-image a.kt-link-to-gravatar i.kt-icon-cloud-upload {
  display: block;
  font-size: 40px;
  margin-top: 22px;
}
.kt-woo-account-nav .kad-customer-image a.kt-link-to-gravatar span.kt-profile-photo-text {
  font-size: 12px;
  max-width: 120px;
  display: block;
  text-transform: uppercase;
  margin: 0 auto;
}
.kt-woo-account-nav .kad-customer-image a.kt-link-to-gravatar:hover {
  opacity: 1;
  color: #555;
}
a.kt-link-to-gravatar span.kt-profile-photo-text {
  font-size: 12px;
  max-width: 120px;
  display: block;
  text-transform: uppercase;
  margin: 0 auto;
}
a.kt-link-to-gravatar:hover {
  opacity: 1;
  color: #555;
}
.kt-header-extras .kad-head-my-account-menu .kt-woo-account-nav {
  width: 100%;
}
.kt-header-extras .kad-head-my-account-menu .kt-woo-account-nav .kad-account-avatar:before,
.kt-header-extras .kad-head-my-account-menu .kt-woo-account-nav .kad-account-avatar:after {
  content: " ";
  display: table;
}
.kt-header-extras .kad-head-my-account-menu .kt-woo-account-nav .kad-account-avatar:after {
  clear: both;
}
.kt-header-extras .kad-head-my-account-menu .kt-woo-account-nav .kad-customer-image {
  width: 20%;
  float: left;
}
.kt-header-extras .kad-head-my-account-menu .kt-woo-account-nav .kad-customer-image a.kt-link-to-gravatar {
  display: none;
}
.kt-header-extras .kad-head-my-account-menu .kt-woo-account-nav .kad-customer-name {
  width: 80%;
  float: left;
  text-align: left;
}
.kt-header-extras .kad-head-my-account-menu .kt-woo-account-nav .kad-customer-name h5 {
  padding-left: 10px;
  line-height: 1;
  font-size: 15px;
}
.pop-modal-body .kt-woo-account-nav {
  width: 100%;
}
.pop-modal-body .kt-woo-account-nav .kad-account-avatar:before,
.pop-modal-body .kt-woo-account-nav .kad-account-avatar:after {
  content: " ";
  display: table;
}
.pop-modal-body .kt-woo-account-nav .kad-account-avatar:after {
  clear: both;
}
.pop-modal-body .kt-woo-account-nav .kad-customer-image {
  width: 20%;
  float: left;
}
.pop-modal-body .kt-woo-account-nav .kad-customer-image a.kt-link-to-gravatar {
  display: none;
}
.pop-modal-body .kt-woo-account-nav a {
  color: #fff;
}
.pop-modal-body .kt-woo-account-nav .kad-customer-name {
  width: 80%;
  float: left;
  text-align: left;
}
.pop-modal-body .kt-woo-account-nav .kad-customer-name h5 {
  color: #fff;
  padding-left: 10px;
  line-height: 1;
  font-size: 15px;
}
#payment ul.wc_payment_methods {
  list-style: none;
  padding-left: 0;
}
#payment ul.wc_payment_methods li.wc_payment_method > input[type=radio]:first-child {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute!important;
}
#payment ul.wc_payment_methods li.wc_payment_method input[type=radio]:first-child:checked + label {
  border-left: 5px solid #16A085;
}
#payment ul.wc_payment_methods li.wc_payment_method input[type=radio]:first-child:checked + label:before {
  background: #16A085;
  border-color: #16A085;
}
#payment ul.wc_payment_methods li.wc_payment_method label {
  background: rgba(0, 0, 0, 0.02);
  display: block;
  border-left: 5px solid rgba(0, 0, 0, 0.02);
  padding: 8px 15px;
  -webkit-transition: border 0.2s ease-in-out;
  -o-transition: border 0.2s ease-in-out;
  transition: border 0.2s ease-in-out;
  margin-bottom: 4px;
  font-weight: bold;
}
#payment ul.wc_payment_methods li.wc_payment_method label:before {
  content: '';
  background: transparent;
  width: 10px;
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.2);
  height: 10px;
  border-radius: 50%;
  margin-left: -5px;
  margin-right: 4px;
}
#payment ul.wc_payment_methods li.wc_payment_method label:hover {
  border-left: 5px solid rgba(0, 0, 0, 0.06);
  background: rgba(0, 0, 0, 0.06);
}
#payment .payment_box {
  position: relative;
  width: 100%;
  padding: 15px;
  font-size: 95%;
}
#payment .payment_box p:last-child {
  margin-bottom: 0;
}
#payment .place-order .button {
  width: 100%;
  font-size: 120%;
  margin-top: 10px;
  padding: 15px 0;
  text-align: center;
}
li.wc_payment_method.payment_method_paypal img {
  max-width: 160px;
}
li.wc_payment_method.payment_method_paypal a.about_paypal {
  font-weight: 400;
  font-style: oblique;
  margin-left: 10px;
}
li.wc_payment_method.payment_method_paypal a.about_paypal:hover {
  border-bottom: 1px solid;
}
.woocommerce-password-strength {
  text-align: center;
  font-weight: 600;
  padding: 3px 0;
}
.woocommerce-password-strength.short {
  background-color: #f1adad;
  border-color: #e35b5b;
}
.woocommerce-password-strength.bad {
  background-color: #fbc5a9;
  border-color: #f78b53;
}
.woocommerce-password-strength.good {
  background-color: #ffe399;
  border-color: #ffc733;
}
.woocommerce-password-strength.strong {
  background-color: #c1e1b9;
  border-color: #83c373;
}
@media (min-width: 992px) {
  form.checkout {
    position: static!important;
    margin-left: -15px;
    margin-right: -15px;
  }
  form.checkout:after {
    clear: both;
    display: table;
    content: '';
  }
  form.checkout ul.woocommerce-error {
    margin-left: 15px;
    margin-right: 15px;
  }
  form.checkout .col2-set .col-1,
  form.checkout .col2-set .col-2 {
    width: 100%;
    float: none;
    padding: 0;
    clear: both;
  }
  form.checkout #order_review {
    width: 50%;
    padding: 0 15px;
    float: left;
  }
  form.checkout #customer_details {
    float: left;
    width: 50%;
    padding-right: 15px;
    margin: 0;
    padding-left: 15px;
  }
  form.checkout #order_review_heading {
    float: left;
    width: 50%;
    padding: 0 15px;
  }
}
@media (min-width: 768px) {
  .woocommerce form .form-row-first {
    padding-right: 15px;
    width: 50%;
    float: left;
  }
  .woocommerce form .form-row-last {
    padding-left: 15px;
    width: 50%;
    float: left;
  }
}
.form-row.woocommerce-validated input.input-text {
  border-left: 2px solid #0f834d;
}
.form-row.woocommerce-invalid input.input-text {
  border-left: 2px solid #e2401c;
}
.woocommerce form .form-row .required {
  text-decoration: none;
}
.woocommerce .blockUI.blockOverlay {
  position: relative;
}
.woocommerce .blockUI.blockOverlay:before {
  height: 40px;
  width: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  margin-left: -20px;
  margin-top: -20px;
  display: block;
  content: "";
  background: url(../img/spin.gif) center center;
  background: url(../img/spin.svg) center center;
  background-size: cover;
}
.woocommerce .loader:before {
  height: 40px;
  width: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  margin-left: -20px;
  margin-top: -20px;
  display: block;
  content: "";
  background: url(../img/spin.gif) center center;
  background: url(../img/spin.svg) center center;
  background-size: cover;
}
.entry-content table.cart .product-remove {
  width: 28px;
}
.entry-content table.cart .product-remove .remove {
  display: block;
  float: left;
  width: 20px;
  background: transparent;
  text-align: center;
  border-radius: 0;
  z-index: 1000;
  color: red;
  border: 1px solid red;
  padding-right: 0;
  height: 20px;
  font-size: 16px;
  line-height: 1;
  -webkit-transition: background 0.1s ease-in-out;
  -o-transition: background 0.1s ease-in-out;
  transition: background 0.1s ease-in-out;
}
.entry-content table.cart .product-remove .remove:hover {
  background-color: red;
  color: white;
  border-color: red;
}
ul.kt-mobile-cart-contain {
  padding-left: 0;
}
.quantity {
  max-width: 50px;
}
.cross-sells:before {
  content: " ";
  display: table;
  clear: both;
}
.kt-woo-cart-form-wrap > form {
  position: relative;
}
@media (min-width: 768px) {
  .kt-woo-cart-form-wrap > form {
    float: left;
    width: 70%;
    padding-right: 20px;
  }
  .kt-woo-cart-form-wrap .cart-collaterals {
    float: left;
    width: 30%;
    padding-left: 20px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .kad-header-position-left .kt-woo-cart-form-wrap > form,
  .kad-header-position-right .kt-woo-cart-form-wrap > form {
    float: none;
    width: 100%;
    padding-right: 0px;
  }
  .kad-header-position-left .kt-woo-cart-form-wrap .cart-collaterals,
  .kad-header-position-right .kt-woo-cart-form-wrap .cart-collaterals {
    float: none;
    width: 100%;
    padding-left: 0px;
  }
}
.wc-proceed-to-checkout .button {
  width: 100%;
  text-align: center;
  padding: 15px 0;
  font-size: 120%;
}
.kt-woo-cart-form-wrap .cart_totals h2,
.kt-woo-cart-form-wrap .cart-summary h2,
.cross-sells h2 {
  font-size: 30px;
}
.entry-content table.cart td,
table td,
.entry-content table.cart th,
table th {
  padding: 10px 4px;
}
table.cart .product-thumbnail {
  width: 68px;
}
table.cart .product-thumbnail a {
  border: 0 !important;
}
table.cart .product-thumbnail img {
  max-width: 60px;
}
table.cart th.product-name {
  position: absolute;
  left: 10px;
}
table.cart td.product-name a {
  color: #444;
}
table.cart thead {
  position: relative;
}
table.cart .coupon {
  width: 70%;
  float: left;
}
table.cart .coupon label {
  display: none;
  line-height: 20px;
  padding: 10px 0;
}
table.cart .coupon input#coupon_code {
  display: inline-block;
  max-width: 200px;
}
table.cart .coupon input.button {
  display: inline-block;
  margin-left: 10px;
}
table.cart input.button[name="update_cart"] {
  float: right;
}
@media (max-width: 992px) {
  table.cart .coupon {
    width: 65%;
    float: left;
  }
  table.cart .coupon input#coupon_code {
    max-width: 120px;
  }
  table.cart .coupon input.button {
    margin-left: 5px;
  }
}
@media (max-width: 480px) {
  table.cart .product-thumbnail {
    width: 38px;
  }
  table.cart .product-thumbnail img {
    max-width: 30px;
  }
  table.cart .product-price {
    display: none;
  }
  table.cart .coupon {
    width: 100%;
    float: none;
    margin-bottom: 8px;
  }
  table.cart .coupon input#coupon_code {
    width: 60%;
    max-width: 100%;
    float: left;
    display: block;
  }
  table.cart .coupon input.button {
    width: 35%;
    margin-left: 5%;
    float: left;
    display: block;
  }
  table.cart .coupon:after {
    clear: both;
    display: table;
    content: '';
  }
  table.cart input.button[name="update_cart"] {
    float: none;
    width: 100%;
  }
}
.woocommerce-error,
.woocommerce-info,
.woocommerce-message,
.woocommerce-noreviews,
p.no-comments {
  padding: 15px 15px;
  margin-bottom: 24px;
  background-color: #16A085;
  margin-left: 0;
  color: #fff;
  list-style: none;
  line-height: 24px;
  border-left: 8px solid rgba(0, 0, 0, 0.15);
}
.woocommerce-error a:not(.button):not([data-rel="lightbox"]):not(.woocommerce-Button),
.woocommerce-info a:not(.button):not([data-rel="lightbox"]):not(.woocommerce-Button),
.woocommerce-message a:not(.button):not([data-rel="lightbox"]):not(.woocommerce-Button),
.woocommerce-noreviews a:not(.button):not([data-rel="lightbox"]):not(.woocommerce-Button),
p.no-comments a:not(.button):not([data-rel="lightbox"]):not(.woocommerce-Button) {
  color: #fff;
  border-color: rgba(255, 255, 255, 0.5);
}
.woocommerce-error a:not(.button):not([data-rel="lightbox"]):not(.woocommerce-Button):hover,
.woocommerce-info a:not(.button):not([data-rel="lightbox"]):not(.woocommerce-Button):hover,
.woocommerce-message a:not(.button):not([data-rel="lightbox"]):not(.woocommerce-Button):hover,
.woocommerce-noreviews a:not(.button):not([data-rel="lightbox"]):not(.woocommerce-Button):hover,
p.no-comments a:not(.button):not([data-rel="lightbox"]):not(.woocommerce-Button):hover {
  border-color: #fff;
}
.woocommerce-error a.button,
.woocommerce-info a.button,
.woocommerce-message a.button,
.woocommerce-noreviews a.button,
p.no-comments a.button {
  float: right;
  background: transparent;
  color: #fff;
  line-height: 24px;
  padding: 0 0 0 15px;
  font-weight: bold;
  border-left: 1px solid #fff;
  text-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.woocommerce-error {
  background: #e2401c;
}
.woocommerce-info li,
.woocommerce-message li,
.woocommerce-error li {
  margin-bottom: 0;
}
p.demo_store {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  width: 100%;
  line-height: 25px;
  font-size: 16px;
  padding: 10px 0;
  text-align: center;
  background: #16A085;
  color: #fff;
  z-index: 99998;
}
p.demo_store a {
  color: #fff;
  text-decoration: underline;
}
p.stars {
  display: inline-block;
  margin: 0;
}
p.stars a {
  position: relative;
  height: 1em;
  width: 1em;
  text-indent: -999em;
  display: inline-block;
  text-decoration: none;
  margin-right: 1px;
  font-weight: 400;
  border: 0 !important;
}
p.stars a:before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 1em;
  height: 1em;
  font-family: 'kt-font-awesome' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f006";
  text-indent: 0;
}
p.stars a:hover ~ a:before {
  content: "\f006";
}
p.stars:hover a:before {
  content: "\f005";
}
p.stars.selected a.active:before {
  content: "\f005";
}
p.stars.selected a.active ~ a:before {
  content: "\f006";
}
p.stars.selected a:not(.active):before {
  content: "\f005";
}
.products .star-rating {
  display: block;
  margin: 4px auto 4px;
  float: right;
}
.star-rating {
  color: #16A085;
  float: right;
  overflow: hidden;
  position: relative;
  height: 15px;
  line-height: 15px;
  font-size: 15px;
  width: 75px;
  font-family: 'kt-font-awesome' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.star-rating:before {
  content: "\f006\f006\f006\f006\f006";
  color: #dfdbdf;
  float: left;
  top: 0;
  left: 0;
  position: absolute;
}
.star-rating span {
  overflow: hidden;
  float: left;
  top: 0;
  left: 0;
  position: absolute;
  padding-top: 16px;
}
.star-rating span:before {
  content: "\f005\f005\f005\f005\f005";
  top: 0;
  position: absolute;
  left: 0;
}
.single-product .woocommerce-product-rating {
  line-height: 24px;
}
.single-product .woocommerce-product-rating .star-rating {
  float: left;
  margin: 0 4px 0 0;
  height: 24px;
  line-height: 24px;
}
.product_thumbnails {
  margin-left: -2px;
  margin-right: -2px;
}
.product_thumbnails:before,
.product_thumbnails:after {
  content: " ";
  display: table;
}
.product_thumbnails:after {
  clear: both;
}
.product_thumbnails a {
  padding-right: 2px;
  padding-left: 2px;
  padding-top: 4px;
  display: block;
}
.single-product .on-sale-container {
  position: relative;
}
.single-product .on-sale-container span.onsale {
  bottom: auto;
  top: 0;
}
.product .entry-summary .price {
  font-size: 24px;
  line-height: 1;
}
.product .entry-summary .price ins {
  margin: 0;
}
.product .entry-summary div[itemprop="description"] {
  padding: 10px 0;
}
.product .entry-summary .quantity {
  float: left;
  width: 50px;
  margin-right: 10px;
}
.product .product_meta {
  margin-top: 20px;
  padding-top: 20px;
  font-size: 12px;
  font-weight: bold;
  color: #777;
  border-top: 2px solid #eee;
}
.product .product_meta > span {
  display: block;
}
.product .product_meta a {
  display: inline;
  margin: 0;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #999;
  border-bottom: 2px solid #16A085;
}
.product .product_meta a:hover {
  color: #16A085;
}
.product .woocommerce-tabs {
  clear: both;
  margin-top: 40px;
}
.product .woocommerce-tabs h2,
.product .woocommerce-tabs .comment-reply-title {
  font-size: 24px;
  line-height: 40px;
  text-transform: none;
  margin: 10px 0;
}
.product .woocommerce-tabs .wc-tabs {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  position: relative;
  text-align: left;
}
.product .woocommerce-tabs .wc-tabs:before,
.product .woocommerce-tabs .wc-tabs:after {
  content: " ";
  display: table;
}
.product .woocommerce-tabs .wc-tabs:after {
  clear: both;
}
.product .woocommerce-tabs .wc-tabs:before {
  position: absolute;
  z-index: 10;
  height: 3px;
  background: #16A085;
  width: 100%;
  bottom: 0;
  display: block;
  clear: both;
  content: '';
}
.product .woocommerce-tabs .wc-tabs > li {
  display: inline-block;
}
.product .woocommerce-tabs .wc-tabs > li > a {
  margin: 0 3px;
  line-height: 1;
  border-bottom: 3px solid transparent;
  padding: 12px 16px;
  background: transparent;
  font-size: 20px;
  color: #555;
  border-radius: 0 0;
  display: block;
  z-index: 2;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  position: relative;
}
.product .woocommerce-tabs .wc-tabs > li > a:hover {
  background: #eee;
}
.product .woocommerce-tabs .wc-tabs > li.active > a {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}
.product .woocommerce-tabs .wc-tabs > li.active > a,
.product .woocommerce-tabs .wc-tabs > li.active > a:hover,
.product .woocommerce-tabs .wc-tabs > li.active > a:focus {
  color: white;
  background-color: #16A085;
  border-bottom: 3px solid #16A085;
  cursor: default;
}
.product .woocommerce-tabs .woocommerce-Tabs-panel {
  padding-top: 10px;
}
.product .related.products,
.product .upsells.products {
  margin-top: 30px;
  margin-bottom: 20px;
}
.product .related.products h3.kt-title,
.product .upsells.products h3.kt-title {
  font-size: 24px;
  line-height: 40px;
}
.commentlist {
  padding: 0;
  list-style: none;
}
.commentlist li {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #eee;
}
.commentlist li:last-child {
  border-bottom: 0;
}
.comment-text {
  position: relative;
  padding-left: 76px;
}
.comment-text p {
  margin-bottom: 0;
}
.comment_container {
  position: relative;
}
.comment_container img {
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
  max-width: 60px;
}
.related-carouselcontainer {
  margin-left: -10px;
  margin-right: -10px;
}
.products.kt-content-carousel .slick-list {
  padding-left: 4px;
  padding-right: 5px;
}
.products.kt-content-carousel .slick-track {
  padding-bottom: 20px;
  padding-top: 10px;
}
.products.kt-content-carousel .slick-prev {
  left: 11px;
}
.products.kt-content-carousel .slick-next {
  right: 11px;
}
.productnav {
  float: right;
}
.productnav a {
  display: inline-block;
}
.productnav a i {
  padding: 6px 10px;
  font-weight: bold;
  margin: 0 0 0 5px;
  font-size: 14px;
  display: inline-block;
  line-height: 20px;
  color: #aaa;
  border: solid 2px #aaa;
  -webkit-transition: border 0.2s ease-in-out;
  -o-transition: border 0.2s ease-in-out;
  transition: border 0.2s ease-in-out;
}
.productnav a:hover i {
  color: #16A085;
  border-color: #16A085;
}
.single_add_to_cart_button {
  text-transform: uppercase;
}
.quantity.buttons_added {
  position: relative;
}
.quantity.buttons_added input[type=number] {
  -moz-appearance: textfield;
}
.quantity.buttons_added input[type=number]::-webkit-inner-spin-button,
.quantity.buttons_added input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.quantity.buttons_added .kt-spin-button {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  width: 20px;
  display: block;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  height: 20px;
  line-height: 20px;
  padding: 0;
  border: 0;
  background: transparent;
  -webkit-transition: background 0.2s ease-in-out;
  -o-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
}
.quantity.buttons_added .kt-spin-button:before {
  font-family: 'kt-font-awesome' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f106";
}
.quantity.buttons_added .kt-spin-button:hover {
  background: rgba(0, 0, 0, 0.05);
}
.quantity.buttons_added .kt-spin-button.minus {
  position: absolute;
  right: 0;
  bottom: 0;
  top: auto;
}
.quantity.buttons_added .kt-spin-button.minus:before {
  content: "\f107";
}
.quantity.buttons_added input.qty {
  padding-right: 20px;
}
.quantity.hidden.buttons_added .kt-spin-button {
  display: none;
}
table.variations {
  min-width: 300px;
  margin-bottom: 24px;
  position: relative;
}
table.variations td.product_label {
  padding: 0 8px 0 0;
  text-transform: uppercase;
  display: block;
  line-height: 34px;
}
table.variations td.product_value {
  padding: 0;
}
table.variations a.reset_variations {
  font-size: 11px;
  display: block;
  position: absolute;
  bottom: -15px;
  line-height: 15px;
}
.single_variation .woocommerce-variation-price {
  margin: 10px 0;
}
.woocommerce-product-gallery__image {
  display: block;
}
.woocommerce-product-gallery__image a {
  position: relative;
  display: inline-block;
}
@media (min-width: 992px) {
  #reviews:before,
  #reviews:after {
    content: " ";
    display: table;
  }
  #reviews:after {
    clear: both;
  }
  #reviews #comments {
    float: left;
    width: 60%;
    padding-right: 30px;
  }
  #reviews #review_form_wrapper {
    float: left;
    width: 40%;
  }
}
.product_title_cat {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 4px;
}
h1.product_title {
  text-transform: uppercase;
  margin-top: 0;
}
.kt-product-style-large-image .product_thumbnails .woocommerce-product-gallery__image {
  width: 25%;
  float: left;
}
.woo_product_slider_disabled .product_thumbnails .woocommerce-product-gallery__image {
  width: 25%;
}
@media (min-width: 992px) {
  .kt-product-style-large-image .product-summary-case {
    width: 40%;
  }
  .kt-product-style-large-image .product-img-case {
    width: 60%;
  }
  .kt-product-style-large-image .product-img-case .images,
  .kt-product-style-large-image .product-img-case .woocommerce-product-gallery__wrapper.woo_product_slider_disabled {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: flex-end;
    -ms-justify-content: flex-end;
    justify-content: flex-end;
    width: 80%;
    float: right;
  }
  .kt-product-style-large-image .kt-product-no-thumbnail-images .product-img-case .images,
  .kt-product-style-large-image .kt-product-no-thumbnail-images .product-img-case .woocommerce-product-gallery__wrapper.woo_product_slider_disabled {
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
  }
  .kt-product-style-large-image .product_thumbnails.thumbnails,
  .kt-product-style-large-image .flex-control-thumbs {
    width: 20%;
    float: none;
    order: -1;
    position: absolute;
    left: -20%;
  }
  .kt-product-style-large-image .woocommerce-product-gallery.woocommerce-product-gallery--with-images .flex-control-thumbs li {
    float: none;
    width: 100%;
    max-width: 70px;
    margin: 0 auto;
    padding-bottom: 4px;
  }
  .kt-product-style-large-image .product_image,
  .kt-product-style-large-image .flex-viewport {
    width: 100%;
    float: none;
    text-align: center;
  }
  .kt-product-style-large-image .woo_product_zoom_enabled .product_thumbnails .woocommerce-product-gallery__image a:before {
    display: none;
  }
  .kt-product-style-large-image .product_thumbnails .woocommerce-product-gallery__image {
    display: block;
    width: 100%;
    float: none;
  }
  .kt-product-style-large-image .product_thumbnails a {
    display: block;
    max-width: 70px;
    margin: 0 auto;
  }
  .single-product.kt-product-style-large-image .on-sale-container {
    margin-left: 20%;
  }
  .single-product.kt-product-style-large-image .on-sale-container .onsale {
    width: 150px;
    margin-left: -75px;
    left: 50%;
  }
  .single-product.kt-product-style-large-image .kt-product-no-thumbnail-images .on-sale-container {
    margin-left: 0;
  }
  .woocommerce-product-gallery__image {
    display: inline-block;
  }
}
@media (max-width: 766px) {
  .product-img-case {
    max-width: 410px;
    margin: 0 auto;
    padding-bottom: 10px;
  }
}
.woocommerce-tabs-list,
.woocommerce-Tabs-panel-list {
  padding: 20px 0;
}
body.siteorigin-panels .container.tab-list-container > h2 {
  display: none;
}
body.siteorigin-panels #list-tab-description {
  padding: 0;
}
.product .woocommerce-tabs-list h2,
.product .woocommerce-tabs-list .comment-reply-title {
  font-size: 24px;
  line-height: 40px;
  text-transform: none;
  margin: 10px 0;
}
table.shop_attributes {
  border-top: 1px dotted rgba(0, 0, 0, 0.1);
}
table.shop_attributes tr {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
}
table.shop_attributes th {
  font-weight: 700;
}
table.shop_attributes td {
  font-style: italic;
}
.post-product-nav-section {
  margin-top: 30px;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
}
.button.loading:before {
  left: 10px;
  right: 10px;
  top: 0;
  opacity: 0.7;
  bottom: 10px;
  position: absolute;
  display: block;
  content: "";
  background: rgba(255, 255, 255, 0.8) url(../img/spin.gif) center center;
  background: rgba(255, 255, 255, 0.8) url(../img/spin.svg) center center;
  background-size: 20px 20px;
  background-repeat: no-repeat;
}
a.added_to_cart {
  position: absolute;
  top: 0;
  left: 10px;
  right: 10px;
  display: block;
  width: auto;
  background: white;
  font-weight: bold;
  padding: 6px 0px;
  line-height: 24px;
  text-align: center;
  border: 2px solid #16A085;
}
.variations fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}
select.kt-no-select2 {
  display: none!important;
}
.kt_title_hidden {
  display: none;
}
.product-img-case figure {
  margin: 0;
}
.woocommerce-product-gallery {
  position: relative;
}
.woocommerce-product-gallery .woocommerce-product-gallery__trigger {
  position: absolute;
  top: 10px;
  right: 10px;
  display: block;
  height: 24px;
  width: 24px;
  border-radius: 3px;
  z-index: 99;
  text-align: center;
}
.woocommerce-product-gallery img {
  margin: 0;
}
.woocommerce-product-gallery .flex-viewport {
  margin-bottom: 4px;
}
.woocommerce-product-gallery .flex-control-thumbs {
  margin-left: -2px;
  margin-right: -2px;
  padding: 0;
}
.woocommerce-product-gallery .flex-control-thumbs:before,
.woocommerce-product-gallery .flex-control-thumbs:after {
  content: " ";
  display: table;
}
.woocommerce-product-gallery .flex-control-thumbs:after {
  clear: both;
}
.woocommerce-product-gallery .flex-control-thumbs li {
  list-style: none;
  margin-bottom: 5px;
  cursor: pointer;
  padding: 0 2px;
}
.woocommerce-product-gallery .flex-control-thumbs li img {
  opacity: 0.5;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.woocommerce-product-gallery .flex-control-thumbs li img.flex-active {
  opacity: 1;
}
.woocommerce-product-gallery .flex-control-thumbs li:hover img {
  opacity: 1;
}
.woocommerce-product-gallery.woocommerce-product-gallery--columns-2 .flex-control-thumbs li {
  width: 50%;
  float: left;
}
.woocommerce-product-gallery.woocommerce-product-gallery--columns-3 .flex-control-thumbs li {
  width: 33.33%;
  float: left;
}
.woocommerce-product-gallery.woocommerce-product-gallery--columns-4 .flex-control-thumbs li {
  width: 25%;
  float: left;
}
.woocommerce-product-gallery.woocommerce-product-gallery--columns-5 .flex-control-thumbs li {
  width: 20%;
  float: left;
}
.woo_product_slider_enabled .woocommerce-product-gallery__image {
  opacity: 0;
}
.woo_product_slider_enabled .woocommerce-product-gallery__image:first-child {
  opacity: 1;
}
.kadence-ele-title-align-center .kt-title span {
  padding-left: 10px;
  padding-right: 10px;
}
.kadence-ele-title-align-right .kt-title span {
  padding-left: 0;
  padding-right: 10px;
}
.flex-viewport .woo_product_slider_enabled .woocommerce-product-gallery__image {
  opacity: 1;
}
.woocommerce-product-details__short-description {
  margin-bottom: 10px;
}
.woo_product_zoom_enabled .woocommerce-product-gallery__image a {
  position: relative;
  display: block;
}
.woo_product_zoom_enabled .woocommerce-product-gallery__image a:before {
  font-family: 'kt-font-awesome' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f002";
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  font-size: 20px;
  top: 10px;
  color: #444;
  left: 10px;
  border: 1px solid transparent;
  -webkit-transition: border 0.35s ease-in-out;
  -o-transition: border 0.35s ease-in-out;
  transition: border 0.35s ease-in-out;
  z-index: 100;
  border-radius: 50%;
  line-height: 36px;
  text-align: center;
}
.woo_product_zoom_enabled .woocommerce-product-gallery__image a:hover:before {
  border-color: #444;
}
.kad-shop-top {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  padding-bottom: 20px;
}
.kad-shop-top .kad-woo-results-count {
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
}
.kad-shop-top .woocommerce-ordering {
  min-width: 200px;
  margin-bottom: 0;
}
.kad-shop-top .woocommerce-ordering .select2-container {
  width: 100%;
}
.kt_product_toggle_outer .toggle_grid,
.kt_product_toggle_outer .toggle_list {
  display: block;
  float: left;
  padding: 0;
  text-align: center;
  line-height: 1;
  width: 34px;
  height: 34px;
  color: #444;
  border: 2px solid #aaa;
  margin: 0 0 0 5px;
  font-size: 14px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.kt_product_toggle_outer .toggle_grid i,
.kt_product_toggle_outer .toggle_list i {
  line-height: 30px;
}
.kt_product_toggle_outer .toggle_grid:hover,
.kt_product_toggle_outer .toggle_list:hover {
  border-color: #16A085;
}
.kt_product_toggle_outer .toggle_grid.toggle_active,
.kt_product_toggle_outer .toggle_list.toggle_active {
  background: #16A085;
  border-color: #16A085;
  color: white;
}
.kt_product_toggle_container {
  min-width: 80px;
}
.tfsinglecolumn .kad_product {
  width: 100%;
}
.kad_product_wrapper {
  padding: 0;
  list-style: none;
  margin-bottom: 30px;
}
.kt-product-intrinsic {
  height: 0;
}
.kad_product {
  list-style: none;
  display: block;
}
.product_item {
  z-index: 1;
}
.product_item .kt-product-softcrop .kt-product-animation-contain {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: absolute;
}
.product_item .kt-product-softcrop .kt-product-animation-contain img {
  max-height: 100%;
  width: auto;
}
.product_item .kt-product-animation-contain {
  overflow: hidden;
  position: relative;
}
.product_item .image_flip_front {
  display: block;
  position: relative;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 2;
  -webkit-transition: all 0.4s cubic-bezier(0.17, 0.67, 0.35, 0.95);
  -o-transition: all 0.4s cubic-bezier(0.17, 0.67, 0.35, 0.95);
  transition: all 0.4s cubic-bezier(0.17, 0.67, 0.35, 0.95);
}
.product_item .image_flip_back {
  display: block;
  -webkit-transform: translate(100%, 0);
  -ms-transform: translate(100%, 0);
  -o-transform: translate(100%, 0);
  transform: translate(100%, 0);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 2;
  -webkit-transition: all 0.4s cubic-bezier(0.17, 0.67, 0.35, 0.95);
  -o-transition: all 0.4s cubic-bezier(0.17, 0.67, 0.35, 0.95);
  transition: all 0.4s cubic-bezier(0.17, 0.67, 0.35, 0.95);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.product_item a.product_item_link {
  position: relative;
  display: block;
  border: 0 !important;
}
.product_item .kad-product-flipper {
  position: relative;
}
@media (min-width: 767px) {
  .product_item:hover .kad-product-flipper .image_flip_back {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  .product_item:hover .kad-product-flipper .image_flip_front {
    -webkit-transform: translate(-100%, 0);
    -ms-transform: translate(-100%, 0);
    -o-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
  }
}
.product_item a.product_item_link .kad-product-noflipper {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}
.product_item a.product_item_link:hover .kad-product-noflipper {
  opacity: 0.9;
}
.product_item {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  background: white;
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
  -webkit-transition: box-shadow 0.2s cubic-bezier(0.17, 0.67, 0.35, 0.95);
  -o-transition: box-shadow 0.2s cubic-bezier(0.17, 0.67, 0.35, 0.95);
  transition: box-shadow 0.2s cubic-bezier(0.17, 0.67, 0.35, 0.95);
}
.product_item .kt-notrated {
  float: right;
  font-size: 11px;
  line-height: 15px;
  display: block;
  text-transform: uppercase;
  margin: 4px auto;
  color: #999;
}
.product_item .details_product_item {
  padding: 10px 10px 10px;
}
.product_item .product_action_wrap {
  padding: 0 10px 10px;
  width: 100%;
  right: 0;
  opacity: 0;
  bottom: -40px;
  background: white;
  left: 0;
  visibility: hidden;
  position: absolute;
}
.product_item .button {
  text-align: center;
  display: block;
  opacity: 0;
  padding-left: 0;
  padding-right: 0;
  z-index: -2;
  text-transform: uppercase;
  -webkit-transition: all 0.2s cubic-bezier(0.17, 0.67, 0.35, 0.95);
  -o-transition: all 0.2s cubic-bezier(0.17, 0.67, 0.35, 0.95);
  transition: all 0.2s cubic-bezier(0.17, 0.67, 0.35, 0.95);
}
.product_item:hover {
  z-index: 10;
  position: relative;
  -webkit-box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.2);
}
.product_item:hover .button {
  display: block;
  opacity: 1;
}
.product_item:hover .product_action_wrap {
  opacity: 1;
  visibility: visible;
}
.product_item:hover .product_action_wrap:before {
  content: '';
  position: absolute;
  top: 10px;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.2);
  z-index: -1;
}
span.onsale {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 100;
  background: red;
  background: rgba(255, 0, 0, 0.7);
  text-transform: uppercase;
  padding: 0px;
  text-align: center;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1px;
  left: 0;
  display: block;
  color: white;
}
.product_item .product_archive_title {
  font-size: 15px;
  line-height: 20px;
  margin-top: 0;
}
.product_item .product_excerpt {
  display: none;
}
.product_item .product_img_link img {
  width: 100%;
}
.product_item .price {
  padding-right: 75px;
}
.kt-hide-rating .product_item .price {
  padding-right: 0px;
}
.price {
  display: block;
  font-weight: 600;
  margin: 4px 0;
}
.price:before,
.price:after {
  content: " ";
  display: table;
}
.price:after {
  clear: both;
}
.price ins {
  float: left;
  text-decoration: none;
  display: inline;
  margin: 4px 0;
  line-height: 1;
}
.price del {
  font-size: 12px;
  margin-left: 5px;
  font-weight: 400;
  line-height: 1;
}
.woocommerce-pagination {
  text-align: center;
}
.woocommerce-pagination:before {
  clear: both;
  display: table;
  content: ' ';
}
.woocommerce-pagination ul.page-numbers {
  list-style: none;
  padding: 0;
}
.woocommerce-pagination ul.page-numbers li {
  display: inline-block;
}
.woocommerce-pagination ul.page-numbers li span,
.woocommerce-pagination ul.page-numbers li a {
  padding: 8px 18px;
  font-weight: bold;
  margin: 5px;
  display: block;
  color: #aaa;
  border: solid 2px #aaa;
  -webkit-transition: border 0.2s ease-in-out;
  -o-transition: border 0.2s ease-in-out;
  transition: border 0.2s ease-in-out;
}
.woocommerce-pagination ul.page-numbers li span:hover,
.woocommerce-pagination ul.page-numbers li a:hover {
  border-color: #16A085;
  color: #16A085;
}
.woocommerce-pagination ul.page-numbers li span.current,
.woocommerce-pagination ul.page-numbers li a.current {
  color: #fff;
  border-color: #16A085;
  background-color: #16A085;
}
.woocommerce-pagination ul.page-numbers li span.current:hover,
.woocommerce-pagination ul.page-numbers li a.current:hover {
  color: #fff;
}
.shopcolumn1 .product_item .product_img_link {
  float: left;
  width: 26%;
  margin-right: 1%;
}
.shopcolumn1 .product_item .product_archive_title {
  font-size: 22px;
}
.shopcolumn1 .product_item .details_product_item {
  float: right;
  width: 73%;
  padding-top: 20px;
}
.shopcolumn1 .product_item .product_excerpt {
  display: block;
}
.shopcolumn1 .product_item .product_action_wrap {
  visibility: visible;
  opacity: 1;
  position: static;
  float: right;
  width: 73%;
}
.shopcolumn1 .product_item .product_action_wrap:before {
  display: none;
}
.shopcolumn1 .product_item .product_action_wrap .button {
  opacity: 1;
  width: auto;
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
}
.shopcolumn1 .product_item a.added_to_cart {
  position: static;
  display: inline-block;
  padding: 6px 12px;
}
@media (max-width: 992px) {
  .shopcolumn1 .product_item .product_img_link {
    float: left;
    width: 36%;
    margin-right: 1%;
  }
  .shopcolumn1 .product_item .details_product_item {
    float: right;
    width: 63%;
  }
  .shopcolumn1 .product_item .product_action_wrap {
    float: right;
    width: 63%;
  }
}
@media (max-width: 480px) {
  .shopcolumn1 .product_item .product_img_link {
    float: none;
    width: 100%;
    margin-right: 0%;
  }
  .shopcolumn1 .product_item .details_product_item {
    float: none;
    width: 100%;
  }
  .shopcolumn1 .product_item .product_action_wrap {
    float: none;
    width: 100%;
  }
  .kad-shop-top .woocommerce-ordering {
    min-width: 80px;
  }
  .products .star-rating {
    float: none;
  }
  .product_item .kt-notrated {
    float: none;
    text-align: center;
  }
  .product_item .price {
    padding-right: 0;
    text-align: center;
  }
}
@media (max-width: 350px) {
  .kad-shop-top {
    flex-wrap: wrap;
  }
}
.product-cat-title-area {
  padding: 10px;
  position: absolute;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8);
}
.product-cat-title-area h3 {
  margin-bottom: 0;
}
.kt-cat-intrinsic img {
  width: 100%;
  height: 100%;
  position: absolute;
}
.widget_layered_nav ul,
.widget_layered_nav_filters ul,
.widget_rating_filter ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.widget_layered_nav ul li,
.widget_layered_nav_filters ul li,
.widget_rating_filter ul li {
  position: relative;
  margin-bottom: 4px;
}
.widget_layered_nav ul li a,
.widget_layered_nav_filters ul li a,
.widget_rating_filter ul li a {
  display: block;
  border: 2px solid rgba(0, 0, 0, 0.1);
  padding: 2px 6px;
}
.widget_layered_nav ul li span.count,
.widget_layered_nav_filters ul li span.count,
.widget_rating_filter ul li span.count {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  font-size: 12px;
  padding: 2px 4px;
  border: 2px solid transparent;
}
.widget_layered_nav ul li span.star-rating,
.widget_layered_nav_filters ul li span.star-rating,
.widget_rating_filter ul li span.star-rating {
  margin-top: 4px;
}
.widget_layered_nav ul li.chosen a,
.widget_layered_nav_filters ul li a,
.widget_rating_filter ul li.chosen a {
  border-color: #16A085;
}
.widget_layered_nav ul li.chosen a:before,
.widget_layered_nav_filters ul li a:before,
.widget_rating_filter ul li.chosen a:before {
  font-family: 'kt-font-awesome' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f00d";
  font-size: 10px;
  vertical-align: bottom;
  padding-right: 5px;
}
.widget_layered_nav ul li.chosen span.count,
.widget_layered_nav_filters ul li span.count,
.widget_rating_filter ul li.chosen span.count {
  background: #16A085;
  color: #fff;
}
.price_slider_wrapper input#min_price,
.price_slider_wrapper input#max_price {
  opacity: 0;
}
.widget_price_filter .ui-slider .ui-slider-handle:last-child {
  margin-left: -14px;
}
.widget_price_filter .price_slider_wrapper .price_slider {
  margin: 10px 0px 25px;
}
.widget_price_filter .price_slider_amount {
  text-align: left;
  font-weight: bold;
}
.widget_price_filter .ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: 14px;
  display: block;
  background: #ddd;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.widget_price_filter .price_slider_wrapper .ui-widget-content {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background: #f2f2f2;
}
.widget_price_filter .ui-slider-horizontal {
  height: 6px;
}
.widget_price_filter .price_slider_amount .button {
  float: right;
  background: transparent;
  color: #16A085;
  padding: 0;
  text-transform: uppercase;
}
.widget_price_filter .ui-slider {
  position: relative;
  text-align: left;
}
.widget_price_filter .ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 14px;
  height: 20px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 0;
  cursor: pointer;
  background: #16A085;
  outline: 0;
  top: -7px;
}
.widget > ul.product_list_widget li {
  border: 0;
}
.widget > ul.product_list_widget li a img {
  max-width: 60px;
  width: auto;
}
.widget > ul.product_list_widget li .amount {
  color: #777;
}
.pop-modal-body ul.product_list_widget {
  color: white;
}
.pop-modal-body ul.product_list_widget li a:not(.remove) {
  color: white;
}
form.woocommerce-product-search {
  position: relative;
}
form.woocommerce-product-search button.search-submit {
  position: absolute;
  right: 0;
  top: 0;
  background: transparent;
  color: #999;
  font-weight: normal;
  text-shadow: none;
}
form.woocommerce-product-search input.search-field {
  padding-right: 50px;
}
/*# sourceMappingURL=ascend_woo-unminify.css.map */