@font-face {
  font-family: 'kt-font-awesome';
  src: url('fonts/kt-font-awesome.eot?t9jwae');
  src: url('fonts/kt-font-awesome.eot?t9jwae#iefix') format('embedded-opentype'), url('fonts/kt-font-awesome.ttf?t9jwae') format('truetype'), url('fonts/kt-font-awesome.woff?t9jwae') format('woff'), url('fonts/kt-font-awesome.svg?t9jwae#kt-font-awesome') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="kt-icon-"],
[class*=" kt-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'kt-font-awesome' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.kt-icon-asterisk:before {
  content: "\f069";
}
.kt-icon-plus:before {
  content: "\f067";
}
.kt-icon-question:before {
  content: "\f128";
}
.kt-icon-minus:before {
  content: "\f068";
}
.kt-icon-glass:before {
  content: "\f000";
}
.kt-icon-music:before {
  content: "\f001";
}
.kt-icon-search:before {
  content: "\f002";
}
.kt-icon-envelope-o:before {
  content: "\f003";
}
.kt-icon-heart:before {
  content: "\f004";
}
.kt-icon-star:before {
  content: "\f005";
}
.kt-icon-star-o:before {
  content: "\f006";
}
.kt-icon-user:before {
  content: "\f007";
}
.kt-icon-film:before {
  content: "\f008";
}
.kt-icon-th-large:before {
  content: "\f009";
}
.kt-icon-th:before {
  content: "\f00a";
}
.kt-icon-th-list:before {
  content: "\f00b";
}
.kt-icon-check:before {
  content: "\f00c";
}
.kt-icon-close:before {
  content: "\f00d";
}
.kt-icon-remove:before {
  content: "\f00d";
}
.kt-icon-times:before {
  content: "\f00d";
}
.kt-icon-search-plus:before {
  content: "\f00e";
}
.kt-icon-search-minus:before {
  content: "\f010";
}
.kt-icon-power-off:before {
  content: "\f011";
}
.kt-icon-signal:before {
  content: "\f012";
}
.kt-icon-cog:before {
  content: "\f013";
}
.kt-icon-gear:before {
  content: "\f013";
}
.kt-icon-trash-o:before {
  content: "\f014";
}
.kt-icon-home:before {
  content: "\f015";
}
.kt-icon-file-o:before {
  content: "\f016";
}
.kt-icon-clock-o:before {
  content: "\f017";
}
.kt-icon-road:before {
  content: "\f018";
}
.kt-icon-download:before {
  content: "\f019";
}
.kt-icon-arrow-circle-o-down:before {
  content: "\f01a";
}
.kt-icon-arrow-circle-o-up:before {
  content: "\f01b";
}
.kt-icon-inbox:before {
  content: "\f01c";
}
.kt-icon-play-circle-o:before {
  content: "\f01d";
}
.kt-icon-repeat:before {
  content: "\f01e";
}
.kt-icon-rotate-right:before {
  content: "\f01e";
}
.kt-icon-refresh:before {
  content: "\f021";
}
.kt-icon-list-alt:before {
  content: "\f022";
}
.kt-icon-lock:before {
  content: "\f023";
}
.kt-icon-flag:before {
  content: "\f024";
}
.kt-icon-headphones:before {
  content: "\f025";
}
.kt-icon-volume-off:before {
  content: "\f026";
}
.kt-icon-volume-down:before {
  content: "\f027";
}
.kt-icon-volume-up:before {
  content: "\f028";
}
.kt-icon-qrcode:before {
  content: "\f029";
}
.kt-icon-barcode:before {
  content: "\f02a";
}
.kt-icon-tag:before {
  content: "\f02b";
}
.kt-icon-tags:before {
  content: "\f02c";
}
.kt-icon-book:before {
  content: "\f02d";
}
.kt-icon-bookmark:before {
  content: "\f02e";
}
.kt-icon-print:before {
  content: "\f02f";
}
.kt-icon-camera:before {
  content: "\f030";
}
.kt-icon-font:before {
  content: "\f031";
}
.kt-icon-bold:before {
  content: "\f032";
}
.kt-icon-italic:before {
  content: "\f033";
}
.kt-icon-text-height:before {
  content: "\f034";
}
.kt-icon-text-width:before {
  content: "\f035";
}
.kt-icon-align-left:before {
  content: "\f036";
}
.kt-icon-align-center:before {
  content: "\f037";
}
.kt-icon-align-right:before {
  content: "\f038";
}
.kt-icon-align-justify:before {
  content: "\f039";
}
.kt-icon-list:before {
  content: "\f03a";
}
.kt-icon-dedent:before {
  content: "\f03b";
}
.kt-icon-outdent:before {
  content: "\f03b";
}
.kt-icon-indent:before {
  content: "\f03c";
}
.kt-icon-video-camera:before {
  content: "\f03d";
}
.kt-icon-image:before {
  content: "\f03e";
}
.kt-icon-photo:before {
  content: "\f03e";
}
.kt-icon-picture-o:before {
  content: "\f03e";
}
.kt-icon-pencil:before {
  content: "\f040";
}
.kt-icon-map-marker:before {
  content: "\f041";
}
.kt-icon-adjust:before {
  content: "\f042";
}
.kt-icon-tint:before {
  content: "\f043";
}
.kt-icon-edit:before {
  content: "\f044";
}
.kt-icon-pencil-square-o:before {
  content: "\f044";
}
.kt-icon-share-square-o:before {
  content: "\f045";
}
.kt-icon-check-square-o:before {
  content: "\f046";
}
.kt-icon-arrows:before {
  content: "\f047";
}
.kt-icon-step-backward:before {
  content: "\f048";
}
.kt-icon-fast-backward:before {
  content: "\f049";
}
.kt-icon-backward:before {
  content: "\f04a";
}
.kt-icon-play:before {
  content: "\f04b";
}
.kt-icon-pause:before {
  content: "\f04c";
}
.kt-icon-stop:before {
  content: "\f04d";
}
.kt-icon-forward:before {
  content: "\f04e";
}
.kt-icon-fast-forward:before {
  content: "\f050";
}
.kt-icon-step-forward:before {
  content: "\f051";
}
.kt-icon-eject:before {
  content: "\f052";
}
.kt-icon-chevron-left:before {
  content: "\f053";
}
.kt-icon-chevron-right:before {
  content: "\f054";
}
.kt-icon-plus-circle:before {
  content: "\f055";
}
.kt-icon-minus-circle:before {
  content: "\f056";
}
.kt-icon-times-circle:before {
  content: "\f057";
}
.kt-icon-check-circle:before {
  content: "\f058";
}
.kt-icon-question-circle:before {
  content: "\f059";
}
.kt-icon-info-circle:before {
  content: "\f05a";
}
.kt-icon-crosshairs:before {
  content: "\f05b";
}
.kt-icon-times-circle-o:before {
  content: "\f05c";
}
.kt-icon-check-circle-o:before {
  content: "\f05d";
}
.kt-icon-ban:before {
  content: "\f05e";
}
.kt-icon-arrow-left:before {
  content: "\f060";
}
.kt-icon-arrow-right:before {
  content: "\f061";
}
.kt-icon-arrow-up:before {
  content: "\f062";
}
.kt-icon-arrow-down:before {
  content: "\f063";
}
.kt-icon-mail-forward:before {
  content: "\f064";
}
.kt-icon-share:before {
  content: "\f064";
}
.kt-icon-expand:before {
  content: "\f065";
}
.kt-icon-compress:before {
  content: "\f066";
}
.kt-icon-exclamation-circle:before {
  content: "\f06a";
}
.kt-icon-gift:before {
  content: "\f06b";
}
.kt-icon-leaf:before {
  content: "\f06c";
}
.kt-icon-fire:before {
  content: "\f06d";
}
.kt-icon-eye:before {
  content: "\f06e";
}
.kt-icon-eye-slash:before {
  content: "\f070";
}
.kt-icon-exclamation-triangle:before {
  content: "\f071";
}
.kt-icon-warning:before {
  content: "\f071";
}
.kt-icon-plane:before {
  content: "\f072";
}
.kt-icon-calendar:before {
  content: "\f073";
}
.kt-icon-random:before {
  content: "\f074";
}
.kt-icon-comment:before {
  content: "\f075";
}
.kt-icon-magnet:before {
  content: "\f076";
}
.kt-icon-chevron-up:before {
  content: "\f077";
}
.kt-icon-chevron-down:before {
  content: "\f078";
}
.kt-icon-retweet:before {
  content: "\f079";
}
.kt-icon-shopping-cart:before {
  content: "\f07a";
}
.kt-icon-folder:before {
  content: "\f07b";
}
.kt-icon-folder-open:before {
  content: "\f07c";
}
.kt-icon-arrows-v:before {
  content: "\f07d";
}
.kt-icon-arrows-h:before {
  content: "\f07e";
}
.kt-icon-bar-chart:before {
  content: "\f080";
}
.kt-icon-bar-chart-o:before {
  content: "\f080";
}
.kt-icon-twitter-square:before {
  content: "\f081";
}
.kt-icon-facebook-square:before {
  content: "\f082";
}
.kt-icon-camera-retro:before {
  content: "\f083";
}
.kt-icon-key:before {
  content: "\f084";
}
.kt-icon-cogs:before {
  content: "\f085";
}
.kt-icon-gears:before {
  content: "\f085";
}
.kt-icon-comments:before {
  content: "\f086";
}
.kt-icon-thumbs-o-up:before {
  content: "\f087";
}
.kt-icon-thumbs-o-down:before {
  content: "\f088";
}
.kt-icon-star-half:before {
  content: "\f089";
}
.kt-icon-heart-o:before {
  content: "\f08a";
}
.kt-icon-sign-out:before {
  content: "\f08b";
}
.kt-icon-linkedin-square:before {
  content: "\f08c";
}
.kt-icon-thumb-tack:before {
  content: "\f08d";
}
.kt-icon-external-link:before {
  content: "\f08e";
}
.kt-icon-sign-in:before {
  content: "\f090";
}
.kt-icon-trophy:before {
  content: "\f091";
}
.kt-icon-github-square:before {
  content: "\f092";
}
.kt-icon-upload:before {
  content: "\f093";
}
.kt-icon-lemon-o:before {
  content: "\f094";
}
.kt-icon-phone:before {
  content: "\f095";
}
.kt-icon-square-o:before {
  content: "\f096";
}
.kt-icon-bookmark-o:before {
  content: "\f097";
}
.kt-icon-phone-square:before {
  content: "\f098";
}
.kt-icon-twitter:before {
  content: "\f099";
}
.kt-icon-facebook:before {
  content: "\f09a";
}
.kt-icon-facebook-f:before {
  content: "\f09a";
}
.kt-icon-github:before {
  content: "\f09b";
}
.kt-icon-unlock:before {
  content: "\f09c";
}
.kt-icon-credit-card:before {
  content: "\f09d";
}
.kt-icon-feed:before {
  content: "\f09e";
}
.kt-icon-rss:before {
  content: "\f09e";
}
.kt-icon-hdd-o:before {
  content: "\f0a0";
}
.kt-icon-bullhorn:before {
  content: "\f0a1";
}
.kt-icon-bell-o:before {
  content: "\f0a2";
}
.kt-icon-certificate:before {
  content: "\f0a3";
}
.kt-icon-hand-o-right:before {
  content: "\f0a4";
}
.kt-icon-hand-o-left:before {
  content: "\f0a5";
}
.kt-icon-hand-o-up:before {
  content: "\f0a6";
}
.kt-icon-hand-o-down:before {
  content: "\f0a7";
}
.kt-icon-arrow-circle-left:before {
  content: "\f0a8";
}
.kt-icon-arrow-circle-right:before {
  content: "\f0a9";
}
.kt-icon-arrow-circle-up:before {
  content: "\f0aa";
}
.kt-icon-arrow-circle-down:before {
  content: "\f0ab";
}
.kt-icon-globe:before {
  content: "\f0ac";
}
.kt-icon-wrench:before {
  content: "\f0ad";
}
.kt-icon-tasks:before {
  content: "\f0ae";
}
.kt-icon-filter:before {
  content: "\f0b0";
}
.kt-icon-briefcase:before {
  content: "\f0b1";
}
.kt-icon-arrows-alt:before {
  content: "\f0b2";
}
.kt-icon-group:before {
  content: "\f0c0";
}
.kt-icon-users:before {
  content: "\f0c0";
}
.kt-icon-chain:before {
  content: "\f0c1";
}
.kt-icon-link:before {
  content: "\f0c1";
}
.kt-icon-cloud:before {
  content: "\f0c2";
}
.kt-icon-flask:before {
  content: "\f0c3";
}
.kt-icon-cut:before {
  content: "\f0c4";
}
.kt-icon-scissors:before {
  content: "\f0c4";
}
.kt-icon-copy:before {
  content: "\f0c5";
}
.kt-icon-files-o:before {
  content: "\f0c5";
}
.kt-icon-paperclip:before {
  content: "\f0c6";
}
.kt-icon-floppy-o:before {
  content: "\f0c7";
}
.kt-icon-save:before {
  content: "\f0c7";
}
.kt-icon-square:before {
  content: "\f0c8";
}
.kt-icon-bars:before {
  content: "\f0c9";
}
.kt-icon-navicon:before {
  content: "\f0c9";
}
.kt-icon-reorder:before {
  content: "\f0c9";
}
.kt-icon-list-ul:before {
  content: "\f0ca";
}
.kt-icon-list-ol:before {
  content: "\f0cb";
}
.kt-icon-strikethrough:before {
  content: "\f0cc";
}
.kt-icon-underline:before {
  content: "\f0cd";
}
.kt-icon-table:before {
  content: "\f0ce";
}
.kt-icon-magic:before {
  content: "\f0d0";
}
.kt-icon-truck:before {
  content: "\f0d1";
}
.kt-icon-pinterest:before {
  content: "\f0d2";
}
.kt-icon-pinterest-square:before {
  content: "\f0d3";
}
.kt-icon-google-plus-square:before {
  content: "\f0d4";
}
.kt-icon-google-plus:before {
  content: "\f0d5";
}
.kt-icon-money:before {
  content: "\f0d6";
}
.kt-icon-caret-down:before {
  content: "\f0d7";
}
.kt-icon-caret-up:before {
  content: "\f0d8";
}
.kt-icon-caret-left:before {
  content: "\f0d9";
}
.kt-icon-caret-right:before {
  content: "\f0da";
}
.kt-icon-columns:before {
  content: "\f0db";
}
.kt-icon-sort:before {
  content: "\f0dc";
}
.kt-icon-unsorted:before {
  content: "\f0dc";
}
.kt-icon-sort-desc:before {
  content: "\f0dd";
}
.kt-icon-sort-down:before {
  content: "\f0dd";
}
.kt-icon-sort-asc:before {
  content: "\f0de";
}
.kt-icon-sort-up:before {
  content: "\f0de";
}
.kt-icon-envelope:before {
  content: "\f0e0";
}
.kt-icon-linkedin:before {
  content: "\f0e1";
}
.kt-icon-rotate-left:before {
  content: "\f0e2";
}
.kt-icon-undo:before {
  content: "\f0e2";
}
.kt-icon-gavel:before {
  content: "\f0e3";
}
.kt-icon-legal:before {
  content: "\f0e3";
}
.kt-icon-dashboard:before {
  content: "\f0e4";
}
.kt-icon-tachometer:before {
  content: "\f0e4";
}
.kt-icon-comment-o:before {
  content: "\f0e5";
}
.kt-icon-comments-o:before {
  content: "\f0e6";
}
.kt-icon-bolt:before {
  content: "\f0e7";
}
.kt-icon-flash:before {
  content: "\f0e7";
}
.kt-icon-sitemap:before {
  content: "\f0e8";
}
.kt-icon-umbrella:before {
  content: "\f0e9";
}
.kt-icon-clipboard:before {
  content: "\f0ea";
}
.kt-icon-paste:before {
  content: "\f0ea";
}
.kt-icon-lightbulb-o:before {
  content: "\f0eb";
}
.kt-icon-exchange:before {
  content: "\f0ec";
}
.kt-icon-cloud-download:before {
  content: "\f0ed";
}
.kt-icon-cloud-upload:before {
  content: "\f0ee";
}
.kt-icon-user-md:before {
  content: "\f0f0";
}
.kt-icon-stethoscope:before {
  content: "\f0f1";
}
.kt-icon-suitcase:before {
  content: "\f0f2";
}
.kt-icon-bell:before {
  content: "\f0f3";
}
.kt-icon-coffee:before {
  content: "\f0f4";
}
.kt-icon-cutlery:before {
  content: "\f0f5";
}
.kt-icon-file-text-o:before {
  content: "\f0f6";
}
.kt-icon-building-o:before {
  content: "\f0f7";
}
.kt-icon-hospital-o:before {
  content: "\f0f8";
}
.kt-icon-ambulance:before {
  content: "\f0f9";
}
.kt-icon-medkit:before {
  content: "\f0fa";
}
.kt-icon-fighter-jet:before {
  content: "\f0fb";
}
.kt-icon-beer:before {
  content: "\f0fc";
}
.kt-icon-h-square:before {
  content: "\f0fd";
}
.kt-icon-plus-square:before {
  content: "\f0fe";
}
.kt-icon-angle-double-left:before {
  content: "\f100";
}
.kt-icon-angle-double-right:before {
  content: "\f101";
}
.kt-icon-angle-double-up:before {
  content: "\f102";
}
.kt-icon-angle-double-down:before {
  content: "\f103";
}
.kt-icon-angle-left:before {
  content: "\f104";
}
.kt-icon-angle-right:before {
  content: "\f105";
}
.kt-icon-angle-up:before {
  content: "\f106";
}
.kt-icon-angle-down:before {
  content: "\f107";
}
.kt-icon-desktop:before {
  content: "\f108";
}
.kt-icon-laptop:before {
  content: "\f109";
}
.kt-icon-tablet:before {
  content: "\f10a";
}
.kt-icon-mobile:before {
  content: "\f10b";
}
.kt-icon-mobile-phone:before {
  content: "\f10b";
}
.kt-icon-circle-o:before {
  content: "\f10c";
}
.kt-icon-quote-left:before {
  content: "\f10d";
}
.kt-icon-quote-right:before {
  content: "\f10e";
}
.kt-icon-spinner:before {
  content: "\f110";
}
.kt-icon-circle:before {
  content: "\f111";
}
.kt-icon-mail-reply:before {
  content: "\f112";
}
.kt-icon-reply:before {
  content: "\f112";
}
.kt-icon-github-alt:before {
  content: "\f113";
}
.kt-icon-folder-o:before {
  content: "\f114";
}
.kt-icon-folder-open-o:before {
  content: "\f115";
}
.kt-icon-smile-o:before {
  content: "\f118";
}
.kt-icon-frown-o:before {
  content: "\f119";
}
.kt-icon-meh-o:before {
  content: "\f11a";
}
.kt-icon-gamepad:before {
  content: "\f11b";
}
.kt-icon-keyboard-o:before {
  content: "\f11c";
}
.kt-icon-flag-o:before {
  content: "\f11d";
}
.kt-icon-flag-checkered:before {
  content: "\f11e";
}
.kt-icon-terminal:before {
  content: "\f120";
}
.kt-icon-code:before {
  content: "\f121";
}
.kt-icon-mail-reply-all:before {
  content: "\f122";
}
.kt-icon-reply-all:before {
  content: "\f122";
}
.kt-icon-star-half-empty:before {
  content: "\f123";
}
.kt-icon-star-half-full:before {
  content: "\f123";
}
.kt-icon-star-half-o:before {
  content: "\f123";
}
.kt-icon-location-arrow:before {
  content: "\f124";
}
.kt-icon-crop:before {
  content: "\f125";
}
.kt-icon-code-fork:before {
  content: "\f126";
}
.kt-icon-chain-broken:before {
  content: "\f127";
}
.kt-icon-unlink:before {
  content: "\f127";
}
.kt-icon-info:before {
  content: "\f129";
}
.kt-icon-exclamation:before {
  content: "\f12a";
}
.kt-icon-superscript:before {
  content: "\f12b";
}
.kt-icon-subscript:before {
  content: "\f12c";
}
.kt-icon-eraser:before {
  content: "\f12d";
}
.kt-icon-puzzle-piece:before {
  content: "\f12e";
}
.kt-icon-microphone:before {
  content: "\f130";
}
.kt-icon-microphone-slash:before {
  content: "\f131";
}
.kt-icon-shield:before {
  content: "\f132";
}
.kt-icon-calendar-o:before {
  content: "\f133";
}
.kt-icon-fire-extinguisher:before {
  content: "\f134";
}
.kt-icon-rocket:before {
  content: "\f135";
}
.kt-icon-maxcdn:before {
  content: "\f136";
}
.kt-icon-chevron-circle-left:before {
  content: "\f137";
}
.kt-icon-chevron-circle-right:before {
  content: "\f138";
}
.kt-icon-chevron-circle-up:before {
  content: "\f139";
}
.kt-icon-chevron-circle-down:before {
  content: "\f13a";
}
.kt-icon-html5:before {
  content: "\f13b";
}
.kt-icon-css3:before {
  content: "\f13c";
}
.kt-icon-anchor:before {
  content: "\f13d";
}
.kt-icon-unlock-alt:before {
  content: "\f13e";
}
.kt-icon-bullseye:before {
  content: "\f140";
}
.kt-icon-ellipsis-h:before {
  content: "\f141";
}
.kt-icon-ellipsis-v:before {
  content: "\f142";
}
.kt-icon-rss-square:before {
  content: "\f143";
}
.kt-icon-play-circle:before {
  content: "\f144";
}
.kt-icon-ticket:before {
  content: "\f145";
}
.kt-icon-minus-square:before {
  content: "\f146";
}
.kt-icon-minus-square-o:before {
  content: "\f147";
}
.kt-icon-level-up:before {
  content: "\f148";
}
.kt-icon-level-down:before {
  content: "\f149";
}
.kt-icon-check-square:before {
  content: "\f14a";
}
.kt-icon-pencil-square:before {
  content: "\f14b";
}
.kt-icon-external-link-square:before {
  content: "\f14c";
}
.kt-icon-share-square:before {
  content: "\f14d";
}
.kt-icon-compass:before {
  content: "\f14e";
}
.kt-icon-caret-square-o-down:before {
  content: "\f150";
}
.kt-icon-toggle-down:before {
  content: "\f150";
}
.kt-icon-caret-square-o-up:before {
  content: "\f151";
}
.kt-icon-toggle-up:before {
  content: "\f151";
}
.kt-icon-caret-square-o-right:before {
  content: "\f152";
}
.kt-icon-toggle-right:before {
  content: "\f152";
}
.kt-icon-eur:before {
  content: "\f153";
}
.kt-icon-euro:before {
  content: "\f153";
}
.kt-icon-gbp:before {
  content: "\f154";
}
.kt-icon-dollar:before {
  content: "\f155";
}
.kt-icon-usd:before {
  content: "\f155";
}
.kt-icon-inr:before {
  content: "\f156";
}
.kt-icon-rupee:before {
  content: "\f156";
}
.kt-icon-cny:before {
  content: "\f157";
}
.kt-icon-jpy:before {
  content: "\f157";
}
.kt-icon-rmb:before {
  content: "\f157";
}
.kt-icon-yen:before {
  content: "\f157";
}
.kt-icon-rouble:before {
  content: "\f158";
}
.kt-icon-rub:before {
  content: "\f158";
}
.kt-icon-ruble:before {
  content: "\f158";
}
.kt-icon-krw:before {
  content: "\f159";
}
.kt-icon-won:before {
  content: "\f159";
}
.kt-icon-bitcoin:before {
  content: "\f15a";
}
.kt-icon-btc:before {
  content: "\f15a";
}
.kt-icon-file:before {
  content: "\f15b";
}
.kt-icon-file-text:before {
  content: "\f15c";
}
.kt-icon-sort-alpha-asc:before {
  content: "\f15d";
}
.kt-icon-sort-alpha-desc:before {
  content: "\f15e";
}
.kt-icon-sort-amount-asc:before {
  content: "\f160";
}
.kt-icon-sort-amount-desc:before {
  content: "\f161";
}
.kt-icon-sort-numeric-asc:before {
  content: "\f162";
}
.kt-icon-sort-numeric-desc:before {
  content: "\f163";
}
.kt-icon-thumbs-up:before {
  content: "\f164";
}
.kt-icon-thumbs-down:before {
  content: "\f165";
}
.kt-icon-youtube-square:before {
  content: "\f166";
}
.kt-icon-youtube:before {
  content: "\f167";
}
.kt-icon-xing:before {
  content: "\f168";
}
.kt-icon-xing-square:before {
  content: "\f169";
}
.kt-icon-youtube-play:before {
  content: "\f16a";
}
.kt-icon-dropbox:before {
  content: "\f16b";
}
.kt-icon-stack-overflow:before {
  content: "\f16c";
}
.kt-icon-instagram:before {
  content: "\f16d";
}
.kt-icon-flickr:before {
  content: "\f16e";
}
.kt-icon-adn:before {
  content: "\f170";
}
.kt-icon-bitbucket:before {
  content: "\f171";
}
.kt-icon-bitbucket-square:before {
  content: "\f172";
}
.kt-icon-tumblr:before {
  content: "\f173";
}
.kt-icon-tumblr-square:before {
  content: "\f174";
}
.kt-icon-long-arrow-down:before {
  content: "\f175";
}
.kt-icon-long-arrow-up:before {
  content: "\f176";
}
.kt-icon-long-arrow-left:before {
  content: "\f177";
}
.kt-icon-long-arrow-right:before {
  content: "\f178";
}
.kt-icon-apple:before {
  content: "\f179";
}
.kt-icon-windows:before {
  content: "\f17a";
}
.kt-icon-android:before {
  content: "\f17b";
}
.kt-icon-linux:before {
  content: "\f17c";
}
.kt-icon-dribbble:before {
  content: "\f17d";
}
.kt-icon-skype:before {
  content: "\f17e";
}
.kt-icon-foursquare:before {
  content: "\f180";
}
.kt-icon-trello:before {
  content: "\f181";
}
.kt-icon-female:before {
  content: "\f182";
}
.kt-icon-male:before {
  content: "\f183";
}
.kt-icon-gittip:before {
  content: "\f184";
}
.kt-icon-gratipay:before {
  content: "\f184";
}
.kt-icon-sun-o:before {
  content: "\f185";
}
.kt-icon-moon-o:before {
  content: "\f186";
}
.kt-icon-archive:before {
  content: "\f187";
}
.kt-icon-bug:before {
  content: "\f188";
}
.kt-icon-vk:before {
  content: "\f189";
}
.kt-icon-weibo:before {
  content: "\f18a";
}
.kt-icon-renren:before {
  content: "\f18b";
}
.kt-icon-pagelines:before {
  content: "\f18c";
}
.kt-icon-stack-exchange:before {
  content: "\f18d";
}
.kt-icon-arrow-circle-o-right:before {
  content: "\f18e";
}
.kt-icon-arrow-circle-o-left:before {
  content: "\f190";
}
.kt-icon-caret-square-o-left:before {
  content: "\f191";
}
.kt-icon-toggle-left:before {
  content: "\f191";
}
.kt-icon-dot-circle-o:before {
  content: "\f192";
}
.kt-icon-wheelchair:before {
  content: "\f193";
}
.kt-icon-vimeo-square:before {
  content: "\f194";
}
.kt-icon-try:before {
  content: "\f195";
}
.kt-icon-turkish-lira:before {
  content: "\f195";
}
.kt-icon-plus-square-o:before {
  content: "\f196";
}
.kt-icon-space-shuttle:before {
  content: "\f197";
}
.kt-icon-slack:before {
  content: "\f198";
}
.kt-icon-envelope-square:before {
  content: "\f199";
}
.kt-icon-wordpress:before {
  content: "\f19a";
}
.kt-icon-openid:before {
  content: "\f19b";
}
.kt-icon-bank:before {
  content: "\f19c";
}
.kt-icon-institution:before {
  content: "\f19c";
}
.kt-icon-university:before {
  content: "\f19c";
}
.kt-icon-graduation-cap:before {
  content: "\f19d";
}
.kt-icon-mortar-board:before {
  content: "\f19d";
}
.kt-icon-yahoo:before {
  content: "\f19e";
}
.kt-icon-google:before {
  content: "\f1a0";
}
.kt-icon-reddit:before {
  content: "\f1a1";
}
.kt-icon-reddit-square:before {
  content: "\f1a2";
}
.kt-icon-stumbleupon-circle:before {
  content: "\f1a3";
}
.kt-icon-stumbleupon:before {
  content: "\f1a4";
}
.kt-icon-delicious:before {
  content: "\f1a5";
}
.kt-icon-digg:before {
  content: "\f1a6";
}
.kt-icon-pied-piper-pp:before {
  content: "\f1a7";
}
.kt-icon-pied-piper-alt:before {
  content: "\f1a8";
}
.kt-icon-drupal:before {
  content: "\f1a9";
}
.kt-icon-joomla:before {
  content: "\f1aa";
}
.kt-icon-language:before {
  content: "\f1ab";
}
.kt-icon-fax:before {
  content: "\f1ac";
}
.kt-icon-building:before {
  content: "\f1ad";
}
.kt-icon-child:before {
  content: "\f1ae";
}
.kt-icon-paw:before {
  content: "\f1b0";
}
.kt-icon-spoon:before {
  content: "\f1b1";
}
.kt-icon-cube:before {
  content: "\f1b2";
}
.kt-icon-cubes:before {
  content: "\f1b3";
}
.kt-icon-behance:before {
  content: "\f1b4";
}
.kt-icon-behance-square:before {
  content: "\f1b5";
}
.kt-icon-steam:before {
  content: "\f1b6";
}
.kt-icon-steam-square:before {
  content: "\f1b7";
}
.kt-icon-recycle:before {
  content: "\f1b8";
}
.kt-icon-automobile:before {
  content: "\f1b9";
}
.kt-icon-car:before {
  content: "\f1b9";
}
.kt-icon-cab:before {
  content: "\f1ba";
}
.kt-icon-taxi:before {
  content: "\f1ba";
}
.kt-icon-tree:before {
  content: "\f1bb";
}
.kt-icon-spotify:before {
  content: "\f1bc";
}
.kt-icon-deviantart:before {
  content: "\f1bd";
}
.kt-icon-soundcloud:before {
  content: "\f1be";
}
.kt-icon-database:before {
  content: "\f1c0";
}
.kt-icon-file-pdf-o:before {
  content: "\f1c1";
}
.kt-icon-file-word-o:before {
  content: "\f1c2";
}
.kt-icon-file-excel-o:before {
  content: "\f1c3";
}
.kt-icon-file-powerpoint-o:before {
  content: "\f1c4";
}
.kt-icon-file-image-o:before {
  content: "\f1c5";
}
.kt-icon-file-photo-o:before {
  content: "\f1c5";
}
.kt-icon-file-picture-o:before {
  content: "\f1c5";
}
.kt-icon-file-archive-o:before {
  content: "\f1c6";
}
.kt-icon-file-zip-o:before {
  content: "\f1c6";
}
.kt-icon-file-audio-o:before {
  content: "\f1c7";
}
.kt-icon-file-sound-o:before {
  content: "\f1c7";
}
.kt-icon-file-movie-o:before {
  content: "\f1c8";
}
.kt-icon-file-video-o:before {
  content: "\f1c8";
}
.kt-icon-file-code-o:before {
  content: "\f1c9";
}
.kt-icon-vine:before {
  content: "\f1ca";
}
.kt-icon-codepen:before {
  content: "\f1cb";
}
.kt-icon-jsfiddle:before {
  content: "\f1cc";
}
.kt-icon-life-bouy:before {
  content: "\f1cd";
}
.kt-icon-life-buoy:before {
  content: "\f1cd";
}
.kt-icon-life-ring:before {
  content: "\f1cd";
}
.kt-icon-life-saver:before {
  content: "\f1cd";
}
.kt-icon-support:before {
  content: "\f1cd";
}
.kt-icon-circle-o-notch:before {
  content: "\f1ce";
}
.kt-icon-ra:before {
  content: "\f1d0";
}
.kt-icon-rebel:before {
  content: "\f1d0";
}
.kt-icon-resistance:before {
  content: "\f1d0";
}
.kt-icon-empire:before {
  content: "\f1d1";
}
.kt-icon-ge:before {
  content: "\f1d1";
}
.kt-icon-git-square:before {
  content: "\f1d2";
}
.kt-icon-git:before {
  content: "\f1d3";
}
.kt-icon-hacker-news:before {
  content: "\f1d4";
}
.kt-icon-y-combinator-square:before {
  content: "\f1d4";
}
.kt-icon-yc-square:before {
  content: "\f1d4";
}
.kt-icon-tencent-weibo:before {
  content: "\f1d5";
}
.kt-icon-qq:before {
  content: "\f1d6";
}
.kt-icon-wechat:before {
  content: "\f1d7";
}
.kt-icon-weixin:before {
  content: "\f1d7";
}
.kt-icon-paper-plane:before {
  content: "\f1d8";
}
.kt-icon-send:before {
  content: "\f1d8";
}
.kt-icon-paper-plane-o:before {
  content: "\f1d9";
}
.kt-icon-send-o:before {
  content: "\f1d9";
}
.kt-icon-history:before {
  content: "\f1da";
}
.kt-icon-circle-thin:before {
  content: "\f1db";
}
.kt-icon-header:before {
  content: "\f1dc";
}
.kt-icon-paragraph:before {
  content: "\f1dd";
}
.kt-icon-sliders:before {
  content: "\f1de";
}
.kt-icon-share-alt:before {
  content: "\f1e0";
}
.kt-icon-share-alt-square:before {
  content: "\f1e1";
}
.kt-icon-bomb:before {
  content: "\f1e2";
}
.kt-icon-futbol-o:before {
  content: "\f1e3";
}
.kt-icon-soccer-ball-o:before {
  content: "\f1e3";
}
.kt-icon-tty:before {
  content: "\f1e4";
}
.kt-icon-binoculars:before {
  content: "\f1e5";
}
.kt-icon-plug:before {
  content: "\f1e6";
}
.kt-icon-slideshare:before {
  content: "\f1e7";
}
.kt-icon-twitch:before {
  content: "\f1e8";
}
.kt-icon-yelp:before {
  content: "\f1e9";
}
.kt-icon-newspaper-o:before {
  content: "\f1ea";
}
.kt-icon-wifi:before {
  content: "\f1eb";
}
.kt-icon-calculator:before {
  content: "\f1ec";
}
.kt-icon-paypal:before {
  content: "\f1ed";
}
.kt-icon-google-wallet:before {
  content: "\f1ee";
}
.kt-icon-cc-visa:before {
  content: "\f1f0";
}
.kt-icon-cc-mastercard:before {
  content: "\f1f1";
}
.kt-icon-cc-discover:before {
  content: "\f1f2";
}
.kt-icon-cc-amex:before {
  content: "\f1f3";
}
.kt-icon-cc-paypal:before {
  content: "\f1f4";
}
.kt-icon-cc-stripe:before {
  content: "\f1f5";
}
.kt-icon-bell-slash:before {
  content: "\f1f6";
}
.kt-icon-bell-slash-o:before {
  content: "\f1f7";
}
.kt-icon-trash:before {
  content: "\f1f8";
}
.kt-icon-copyright:before {
  content: "\f1f9";
}
.kt-icon-at:before {
  content: "\f1fa";
}
.kt-icon-eyedropper:before {
  content: "\f1fb";
}
.kt-icon-paint-brush:before {
  content: "\f1fc";
}
.kt-icon-birthday-cake:before {
  content: "\f1fd";
}
.kt-icon-area-chart:before {
  content: "\f1fe";
}
.kt-icon-pie-chart:before {
  content: "\f200";
}
.kt-icon-line-chart:before {
  content: "\f201";
}
.kt-icon-lastfm:before {
  content: "\f202";
}
.kt-icon-lastfm-square:before {
  content: "\f203";
}
.kt-icon-toggle-off:before {
  content: "\f204";
}
.kt-icon-toggle-on:before {
  content: "\f205";
}
.kt-icon-bicycle:before {
  content: "\f206";
}
.kt-icon-bus:before {
  content: "\f207";
}
.kt-icon-ioxhost:before {
  content: "\f208";
}
.kt-icon-angellist:before {
  content: "\f209";
}
.kt-icon-cc:before {
  content: "\f20a";
}
.kt-icon-ils:before {
  content: "\f20b";
}
.kt-icon-shekel:before {
  content: "\f20b";
}
.kt-icon-sheqel:before {
  content: "\f20b";
}
.kt-icon-meanpath:before {
  content: "\f20c";
}
.kt-icon-buysellads:before {
  content: "\f20d";
}
.kt-icon-connectdevelop:before {
  content: "\f20e";
}
.kt-icon-dashcube:before {
  content: "\f210";
}
.kt-icon-forumbee:before {
  content: "\f211";
}
.kt-icon-leanpub:before {
  content: "\f212";
}
.kt-icon-sellsy:before {
  content: "\f213";
}
.kt-icon-shirtsinbulk:before {
  content: "\f214";
}
.kt-icon-simplybuilt:before {
  content: "\f215";
}
.kt-icon-skyatlas:before {
  content: "\f216";
}
.kt-icon-cart-plus:before {
  content: "\f217";
}
.kt-icon-cart-arrow-down:before {
  content: "\f218";
}
.kt-icon-diamond:before {
  content: "\f219";
}
.kt-icon-ship:before {
  content: "\f21a";
}
.kt-icon-user-secret:before {
  content: "\f21b";
}
.kt-icon-motorcycle:before {
  content: "\f21c";
}
.kt-icon-street-view:before {
  content: "\f21d";
}
.kt-icon-heartbeat:before {
  content: "\f21e";
}
.kt-icon-venus:before {
  content: "\f221";
}
.kt-icon-mars:before {
  content: "\f222";
}
.kt-icon-mercury:before {
  content: "\f223";
}
.kt-icon-intersex:before {
  content: "\f224";
}
.kt-icon-transgender:before {
  content: "\f224";
}
.kt-icon-transgender-alt:before {
  content: "\f225";
}
.kt-icon-venus-double:before {
  content: "\f226";
}
.kt-icon-mars-double:before {
  content: "\f227";
}
.kt-icon-venus-mars:before {
  content: "\f228";
}
.kt-icon-mars-stroke:before {
  content: "\f229";
}
.kt-icon-mars-stroke-v:before {
  content: "\f22a";
}
.kt-icon-mars-stroke-h:before {
  content: "\f22b";
}
.kt-icon-neuter:before {
  content: "\f22c";
}
.kt-icon-genderless:before {
  content: "\f22d";
}
.kt-icon-facebook-official:before {
  content: "\f230";
}
.kt-icon-pinterest-p:before {
  content: "\f231";
}
.kt-icon-whatsapp:before {
  content: "\f232";
}
.kt-icon-server:before {
  content: "\f233";
}
.kt-icon-user-plus:before {
  content: "\f234";
}
.kt-icon-user-times:before {
  content: "\f235";
}
.kt-icon-bed:before {
  content: "\f236";
}
.kt-icon-hotel:before {
  content: "\f236";
}
.kt-icon-viacoin:before {
  content: "\f237";
}
.kt-icon-train:before {
  content: "\f238";
}
.kt-icon-subway:before {
  content: "\f239";
}
.kt-icon-medium:before {
  content: "\f23a";
}
.kt-icon-y-combinator:before {
  content: "\f23b";
}
.kt-icon-yc:before {
  content: "\f23b";
}
.kt-icon-optin-monster:before {
  content: "\f23c";
}
.kt-icon-opencart:before {
  content: "\f23d";
}
.kt-icon-expeditedssl:before {
  content: "\f23e";
}
.kt-icon-battery:before {
  content: "\f240";
}
.kt-icon-battery-4:before {
  content: "\f240";
}
.kt-icon-battery-full:before {
  content: "\f240";
}
.kt-icon-battery-3:before {
  content: "\f241";
}
.kt-icon-battery-three-quarters:before {
  content: "\f241";
}
.kt-icon-battery-2:before {
  content: "\f242";
}
.kt-icon-battery-half:before {
  content: "\f242";
}
.kt-icon-battery-1:before {
  content: "\f243";
}
.kt-icon-battery-quarter:before {
  content: "\f243";
}
.kt-icon-battery-0:before {
  content: "\f244";
}
.kt-icon-battery-empty:before {
  content: "\f244";
}
.kt-icon-mouse-pointer:before {
  content: "\f245";
}
.kt-icon-i-cursor:before {
  content: "\f246";
}
.kt-icon-object-group:before {
  content: "\f247";
}
.kt-icon-object-ungroup:before {
  content: "\f248";
}
.kt-icon-sticky-note:before {
  content: "\f249";
}
.kt-icon-sticky-note-o:before {
  content: "\f24a";
}
.kt-icon-cc-jcb:before {
  content: "\f24b";
}
.kt-icon-cc-diners-club:before {
  content: "\f24c";
}
.kt-icon-clone:before {
  content: "\f24d";
}
.kt-icon-balance-scale:before {
  content: "\f24e";
}
.kt-icon-hourglass-o:before {
  content: "\f250";
}
.kt-icon-hourglass-1:before {
  content: "\f251";
}
.kt-icon-hourglass-start:before {
  content: "\f251";
}
.kt-icon-hourglass-2:before {
  content: "\f252";
}
.kt-icon-hourglass-half:before {
  content: "\f252";
}
.kt-icon-hourglass-3:before {
  content: "\f253";
}
.kt-icon-hourglass-end:before {
  content: "\f253";
}
.kt-icon-hourglass:before {
  content: "\f254";
}
.kt-icon-hand-grab-o:before {
  content: "\f255";
}
.kt-icon-hand-rock-o:before {
  content: "\f255";
}
.kt-icon-hand-paper-o:before {
  content: "\f256";
}
.kt-icon-hand-stop-o:before {
  content: "\f256";
}
.kt-icon-hand-scissors-o:before {
  content: "\f257";
}
.kt-icon-hand-lizard-o:before {
  content: "\f258";
}
.kt-icon-hand-spock-o:before {
  content: "\f259";
}
.kt-icon-hand-pointer-o:before {
  content: "\f25a";
}
.kt-icon-hand-peace-o:before {
  content: "\f25b";
}
.kt-icon-trademark:before {
  content: "\f25c";
}
.kt-icon-registered:before {
  content: "\f25d";
}
.kt-icon-creative-commons:before {
  content: "\f25e";
}
.kt-icon-gg:before {
  content: "\f260";
}
.kt-icon-gg-circle:before {
  content: "\f261";
}
.kt-icon-tripadvisor:before {
  content: "\f262";
}
.kt-icon-odnoklassniki:before {
  content: "\f263";
}
.kt-icon-odnoklassniki-square:before {
  content: "\f264";
}
.kt-icon-get-pocket:before {
  content: "\f265";
}
.kt-icon-wikipedia-w:before {
  content: "\f266";
}
.kt-icon-safari:before {
  content: "\f267";
}
.kt-icon-chrome:before {
  content: "\f268";
}
.kt-icon-firefox:before {
  content: "\f269";
}
.kt-icon-opera:before {
  content: "\f26a";
}
.kt-icon-internet-explorer:before {
  content: "\f26b";
}
.kt-icon-television:before {
  content: "\f26c";
}
.kt-icon-tv:before {
  content: "\f26c";
}
.kt-icon-contao:before {
  content: "\f26d";
}
.kt-icon-500px:before {
  content: "\f26e";
}
.kt-icon-amazon:before {
  content: "\f270";
}
.kt-icon-calendar-plus-o:before {
  content: "\f271";
}
.kt-icon-calendar-minus-o:before {
  content: "\f272";
}
.kt-icon-calendar-times-o:before {
  content: "\f273";
}
.kt-icon-calendar-check-o:before {
  content: "\f274";
}
.kt-icon-industry:before {
  content: "\f275";
}
.kt-icon-map-pin:before {
  content: "\f276";
}
.kt-icon-map-signs:before {
  content: "\f277";
}
.kt-icon-map-o:before {
  content: "\f278";
}
.kt-icon-map:before {
  content: "\f279";
}
.kt-icon-commenting:before {
  content: "\f27a";
}
.kt-icon-commenting-o:before {
  content: "\f27b";
}
.kt-icon-houzz:before {
  content: "\f27c";
}
.kt-icon-vimeo:before {
  content: "\f27d";
}
.kt-icon-black-tie:before {
  content: "\f27e";
}
.kt-icon-fonticons:before {
  content: "\f280";
}
.kt-icon-reddit-alien:before {
  content: "\f281";
}
.kt-icon-edge:before {
  content: "\f282";
}
.kt-icon-credit-card-alt:before {
  content: "\f283";
}
.kt-icon-codiepie:before {
  content: "\f284";
}
.kt-icon-modx:before {
  content: "\f285";
}
.kt-icon-fort-awesome:before {
  content: "\f286";
}
.kt-icon-usb:before {
  content: "\f287";
}
.kt-icon-product-hunt:before {
  content: "\f288";
}
.kt-icon-mixcloud:before {
  content: "\f289";
}
.kt-icon-scribd:before {
  content: "\f28a";
}
.kt-icon-pause-circle:before {
  content: "\f28b";
}
.kt-icon-pause-circle-o:before {
  content: "\f28c";
}
.kt-icon-stop-circle:before {
  content: "\f28d";
}
.kt-icon-stop-circle-o:before {
  content: "\f28e";
}
.kt-icon-shopping-bag:before {
  content: "\f290";
}
.kt-icon-shopping-basket:before {
  content: "\f291";
}
.kt-icon-hashtag:before {
  content: "\f292";
}
.kt-icon-bluetooth:before {
  content: "\f293";
}
.kt-icon-bluetooth-b:before {
  content: "\f294";
}
.kt-icon-percent:before {
  content: "\f295";
}
.kt-icon-gitlab:before {
  content: "\f296";
}
.kt-icon-wpbeginner:before {
  content: "\f297";
}
.kt-icon-wpforms:before {
  content: "\f298";
}
.kt-icon-envira:before {
  content: "\f299";
}
.kt-icon-universal-access:before {
  content: "\f29a";
}
.kt-icon-wheelchair-alt:before {
  content: "\f29b";
}
.kt-icon-question-circle-o:before {
  content: "\f29c";
}
.kt-icon-blind:before {
  content: "\f29d";
}
.kt-icon-audio-description:before {
  content: "\f29e";
}
.kt-icon-volume-control-phone:before {
  content: "\f2a0";
}
.kt-icon-braille:before {
  content: "\f2a1";
}
.kt-icon-assistive-listening-systems:before {
  content: "\f2a2";
}
.kt-icon-american-sign-language-interpreting:before {
  content: "\f2a3";
}
.kt-icon-asl-interpreting:before {
  content: "\f2a3";
}
.kt-icon-deaf:before {
  content: "\f2a4";
}
.kt-icon-deafness:before {
  content: "\f2a4";
}
.kt-icon-hard-of-hearing:before {
  content: "\f2a4";
}
.kt-icon-glide:before {
  content: "\f2a5";
}
.kt-icon-glide-g:before {
  content: "\f2a6";
}
.kt-icon-sign-language:before {
  content: "\f2a7";
}
.kt-icon-signing:before {
  content: "\f2a7";
}
.kt-icon-low-vision:before {
  content: "\f2a8";
}
.kt-icon-viadeo:before {
  content: "\f2a9";
}
.kt-icon-viadeo-square:before {
  content: "\f2aa";
}
.kt-icon-snapchat:before {
  content: "\f2ab";
}
.kt-icon-snapchat-ghost:before {
  content: "\f2ac";
}
.kt-icon-snapchat-square:before {
  content: "\f2ad";
}
.kt-icon-pied-piper:before {
  content: "\f2ae";
}
.kt-icon-first-order:before {
  content: "\f2b0";
}
.kt-icon-yoast:before {
  content: "\f2b1";
}
.kt-icon-themeisle:before {
  content: "\f2b2";
}
.kt-icon-google-plus-circle:before {
  content: "\f2b3";
}
.kt-icon-google-plus-official:before {
  content: "\f2b3";
}
.kt-icon-fa:before {
  content: "\f2b4";
}
.kt-icon-font-awesome:before {
  content: "\f2b4";
}
.kt-icon-handshake-o:before {
  content: "\f2b5";
}
.kt-icon-envelope-open:before {
  content: "\f2b6";
}
.kt-icon-envelope-open-o:before {
  content: "\f2b7";
}
.kt-icon-linode:before {
  content: "\f2b8";
}
.kt-icon-address-book:before {
  content: "\f2b9";
}
.kt-icon-address-book-o:before {
  content: "\f2ba";
}
.kt-icon-address-card:before {
  content: "\f2bb";
}
.kt-icon-vcard:before {
  content: "\f2bb";
}
.kt-icon-address-card-o:before {
  content: "\f2bc";
}
.kt-icon-vcard-o:before {
  content: "\f2bc";
}
.kt-icon-user-circle:before {
  content: "\f2bd";
}
.kt-icon-user-circle-o:before {
  content: "\f2be";
}
.kt-icon-user-o:before {
  content: "\f2c0";
}
.kt-icon-id-badge:before {
  content: "\f2c1";
}
.kt-icon-drivers-license:before {
  content: "\f2c2";
}
.kt-icon-id-card:before {
  content: "\f2c2";
}
.kt-icon-drivers-license-o:before {
  content: "\f2c3";
}
.kt-icon-id-card-o:before {
  content: "\f2c3";
}
.kt-icon-quora:before {
  content: "\f2c4";
}
.kt-icon-free-code-camp:before {
  content: "\f2c5";
}
.kt-icon-telegram:before {
  content: "\f2c6";
}
.kt-icon-thermometer:before {
  content: "\f2c7";
}
.kt-icon-thermometer-4:before {
  content: "\f2c7";
}
.kt-icon-thermometer-full:before {
  content: "\f2c7";
}
.kt-icon-thermometer-3:before {
  content: "\f2c8";
}
.kt-icon-thermometer-three-quarters:before {
  content: "\f2c8";
}
.kt-icon-thermometer-2:before {
  content: "\f2c9";
}
.kt-icon-thermometer-half:before {
  content: "\f2c9";
}
.kt-icon-thermometer-1:before {
  content: "\f2ca";
}
.kt-icon-thermometer-quarter:before {
  content: "\f2ca";
}
.kt-icon-thermometer-0:before {
  content: "\f2cb";
}
.kt-icon-thermometer-empty:before {
  content: "\f2cb";
}
.kt-icon-shower:before {
  content: "\f2cc";
}
.kt-icon-bath:before {
  content: "\f2cd";
}
.kt-icon-bathtub:before {
  content: "\f2cd";
}
.kt-icon-s15:before {
  content: "\f2cd";
}
.kt-icon-podcast:before {
  content: "\f2ce";
}
.kt-icon-window-maximize:before {
  content: "\f2d0";
}
.kt-icon-window-minimize:before {
  content: "\f2d1";
}
.kt-icon-window-restore:before {
  content: "\f2d2";
}
.kt-icon-times-rectangle:before {
  content: "\f2d3";
}
.kt-icon-window-close:before {
  content: "\f2d3";
}
.kt-icon-times-rectangle-o:before {
  content: "\f2d4";
}
.kt-icon-window-close-o:before {
  content: "\f2d4";
}
.kt-icon-bandcamp:before {
  content: "\f2d5";
}
.kt-icon-grav:before {
  content: "\f2d6";
}
.kt-icon-etsy:before {
  content: "\f2d7";
}
.kt-icon-imdb:before {
  content: "\f2d8";
}
.kt-icon-ravelry:before {
  content: "\f2d9";
}
.kt-icon-eercast:before {
  content: "\f2da";
}
.kt-icon-microchip:before {
  content: "\f2db";
}
.kt-icon-snowflake-o:before {
  content: "\f2dc";
}
.kt-icon-superpowers:before {
  content: "\f2dd";
}
.kt-icon-wpexplorer:before {
  content: "\f2de";
}
.kt-icon-meetup:before {
  content: "\f2e0";
}
