body.rtl {
    direction: rtl;
  	unicode-bidi: embed;
}
@media (min-width: 992px){
  	.col-md-1, .col-md-10, .col-md-11, .col-md-2, .col-md-25, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col2-set .col-1, .col2-set .col-2 {
      float: right;
  	}
}
.kadence_recent_posts .recentpost_featimg {
    float: right;
    margin-left: 10px;
    margin-right: 0;
}
.kt-social-title {
    padding-right: 6px;
    padding-left: 0;
}
.sf-menu ul {
	text-align: right;
}
.wp-pagenavi a i {
	-ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Safari */
    transform: rotate(180deg);
}
.kt-breadcrumb-container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
}
.gallery_item .kad_caption .kad_caption_inner {
    right: 0;
    left: auto;
}
.kt-tabs>li {
    float: right;
}
.kt-tabs li:first-child {
    margin-left: px;
}
.author-box .author-profile {
    padding-right: 95px;
    padding-left: 0;
}
.author-box .kt_author_avatar {
    left: auto;
    right: 0;
}
ol, ul {
    padding-right: 20px;
    padding-left: 0;
}
.above-footer-widgets .widget-title span, .footer-widget-title span, .kt-title span, .sidebar .widget-title span {
    padding-left: 10px;
    padding-right: 0;
}
.kad-next-link.alignright {
    float: left;
    text-align: left;
}
.kad-next-link a {
	padding-right: 0;
	padding-left:40px;
}
.kad-next-link a:before {
	left: 0;
	right:auto;
	-ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Safari */
    transform: rotate(180deg);
}
.kad-next-link:hover a:before {
	left: -10px;
	right:auto;
}
.alignleft.kad-previous-link {
	float: right;
	text-align: right;
}
.kad-previous-link a {
	padding-left: 0;
	padding-right:40px;
}
.kad-previous-link a:before {
	left: auto;
	right:0;
	-ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Safari */
    transform: rotate(180deg);
}
.kad-previous-link:hover a:before {
	right: -10px;
	left:auto;
}
.widget_categories ul li .count, .widget_pages ul li .count, .widget_product_categories ul li .count, .widget_layered_nav ul li span.count, .widget_layered_nav_filters ul li span.count, .widget_rating_filter ul li span.count {
    left: 0;
    right: auto;
}
.widget_categories ul:not(.children)>li.kt-toggle-has-count>.kt-toggle-sub, .widget_pages ul:not(.children)>li.kt-toggle-has-count>.kt-toggle-sub, .widget_product_categories ul:not(.children)>li.kt-toggle-has-count>.kt-toggle-sub {
    left: 32px;
    right: auto;
}
.widget_categories ul li ul li a:before, .widget_pages ul li ul li a:before, .widget_product_categories ul li ul li a:before {
    left:auto;
    right:0px;
}
.widget_categories ul li ul li a, .widget_pages ul li ul li a, .widget_product_categories ul li ul li a {
    padding-right: 11px;
    padding-left: 5px;
}
.widget_categories ul li ul, .widget_pages ul li ul, .widget_product_categories ul li ul {
    padding-left: 0;
    padding-right: 11px;
}
.products .star-rating {
    float: left;
}
.price ins {
    float: right;
}
.product_item .kt-notrated {
    float: left;
}
.product_item .price {
    padding-left: 75px;
    padding-right: 0;
}
.woocommerce-pagination a.next.page-numbers, .woocommerce-pagination a.prev.page-numbers {
	-ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Safari */
    transform: rotate(180deg);
}
.shopcolumn1 .product_item .product_img_link {
    float: right;
    margin-left: 1%;
    margin-right: 0;
}
.shopcolumn1 .product_item .details_product_item {
    float: left;
}
.single-product .woocommerce-product-rating .star-rating {
    float: right;
    margin-left: 4px;
    margin-right: 0;
}
.product .entry-summary .quantity {
    float: right;
    margin-left: 10px;
    margin-right: 0;
}
.quantity.buttons_added input.qty {
    padding-left: 20px;
    padding-right: 10px;
}
.quantity.buttons_added .kt-spin-button.minus, .quantity.buttons_added .kt-spin-button {
    left: 0;
    right: auto;
}
@media (min-width: 992px) {
	#reviews #review_form_wrapper {
	    float: right;
	}
	#reviews #comments {
	    float: right;
	    padding-right: 0;
	    padding-left: 30px;
	}
}
.comment-text {
    padding-right: 76px;
    padding-left: 0;
}
.star-rating {
    float: left;
}
.comment_container img {
    right: 0;
    left: auto;
}
.footerclass .kadence_social_widget {
	text-align: right;
}
ul.product_list_widget li a {
    padding-left: 20%;
    padding-right: 0;
}

ul.product_list_widget li a.remove {
    padding-left: 0;
    float: right;
    margin-left: 5px;
    margin-right: 0;
}

ul.product_list_widget li a img {
    float: right;
    padding-left: 10px;
    padding-right: 0;
}

ul.product_list_widget li .quantity {
    left: 0;
    right: auto;
}
.kt-header-extras .kad-head-my-account-menu .kt-woo-account-nav .kad-customer-name h5 {
    padding-left: 0;
    padding-right: 10px;
}

.kt-header-extras .kad-head-my-account-menu .kt-woo-account-nav .kad-customer-image {
    float: right;
}

.kt-header-extras .kad-head-my-account-menu .kt-woo-account-nav .kad-customer-name {
    text-align: right;
}
.woocommerce-MyAccount-navigation ul li a:before {
    float: left;
    margin-right: .53em;
    margin-left: 0;
}
.sf-menu ul {
    left: auto;
    right: 0;
}
.sf-menu.sf-menu-normal>li>ul:before {
    left: auto;
    right: 23px;
}
.sf-menu.sf-menu-normal>li.kt-lgmenu>ul:before {
	left: auto;
	right: 50%;
	margin-right: -6px;
	margin-left: 0;
}
.sf-menu.sf-menu-normal>li.kt-lgmenu>ul {
	left: auto;
	right:50%;
	margin-left: 0;
	margin-right: -200px
}
.sf-menu.sf-menu-normal>li.kt-lgmenu.kt-menu-column-4>ul {
    margin-left: 0;
    margin-right: -450px;
}
.kt-header-layout-standard .nav-main {
	float: left;
}
.kt-header-layout-center-logo .kad-left-header ul.sf-menu {
    float: left;
}

.kt-header-position-above.kt-header-layout-center-logo .kad-left-header .nav-main>ul.sf-menu {
	    -webkit-flex-direction: row-reverse;
	    -ms-flex-direction: row-reverse;
	    flex-direction: row-reverse;
}