//
// Variables

// Typography

@font-family-base:        "Source Sans Pro",sans-serif;
@font-size-base:          16px;


// Colors
@primary:#16A085;
//@primary:#f48d5a;
//@primary:#F38630;
//@primary:#69D2E7;
@primary20: lighten(@primary, 10%);
@primary50: lighten(@primary, 50%);

@headerclass:#fff;
@contentclass:#fff;
@navclass:#d9d9d9;
@footerclass:#f2f2f2;

@sidebarborder: #eee;
@gray: #aaa;
//@gray: rgba(0,0,0,.35);
@darkgray: #555;

@light-gray: #eee; 
@silver: #CCC;
@black: #000;
@red: #FF0000;
@offwhite: #f2f2f2;
@white: #fff;
@blue: #0000ff;
@green: #008000;
@yellow: #ffff00;
@orange: #ffa500;
@pink: #ff00ff;
@purple: #800080;
@brown: #8b4513;
@maroon: #800000;

@facebook: #3b5998;
@twitter: #9AE4E8;
@google: #DD4B39;
@dribbble: #EA4C89;
@youtube: #FF3333;
@linkedin: #4875B4;
@flickr: #FE0883;
@tumblr: #32506d;
@vimeo: #4EBBFF;
@blogger: #FF6600;
@rss: #FF6200;
@picasa: #05A136;
@github: #6FCFF9;
@deviantart: #43534D;
@yahoo: #F52815;
@pinterest: #C92228;
@instagram: #517fa4;
@stumbleupon: #f74425;
@xing: #006567;
@soundcloud: #ff7700;
@yelp:#c41200;
@snapchat: #fffc00;
@vk: #45668e;
@viadeo: #F4982B;
@periscope: #3aa4c6;
@behance: #1769ff;

