#redux-slides-accordion, #redux-slides-accordion li{
    
}
.redux-slides-accordion-group{
    margin-bottom: 10px;
    
}
.redux-main .redux-container-ascend_icons .redux-slides-accordion-group {
    border: 1px solid #dfdfdf !important;
    border-radius: 3px !important;
    margin-top:0px !important;
    background: #f9f9f9;
    padding: 5px;
}
.redux-main .redux-container-ascend_icons .redux-slides-accordion-group h3{
    border: 1px solid #dfdfdf;
    cursor: move;
    font-weight: bold;
    padding: 0 10px;
    height: 40px;
     margin-bottom: 0;
    line-height: 40px;
    background-color: #f1f1f1;
    background-image: -ms-linear-gradient(top, #f9f9f9, #ececec);
    background-image: -moz-linear-gradient(top, #f9f9f9, #ececec);
    background-image: -o-linear-gradient(top, #f9f9f9, #ececec);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#ececec));
    background-image: -webkit-linear-gradient(top, #f9f9f9, #ececec);
    background-image: linear-gradient(top, #f9f9f9, #ececec);
    overflow: hidden;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: inset 0 1px 0 #fff;
    -webkit-box-shadow: inset 0 1px 0 #fff;
    box-shadow: inset 0 1px 0 #fff;
    text-align: center;
}
.redux-main .redux-container-ascend_icons #redux-slides-accordion .redux-slides-image{
    height: 250px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #e3e3e3;
    background: #f7f7f7;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.redux-slides-add{
    float: right;
    margin-right: 10%;
    display: block;
}
.redux-slides-remove{
    color: #ef521d !important;
    float: right;
}
.redux-slides-header{
    font-weight: bold;
}
.redux_slides_add_remove{
    margin-bottom: 10px;
}